openapi: 3.1.0
info:
  title: 'Softlemon Partner API'
  description: "Production-ready partner integration endpoints for admin-provisioned API keys.\n\n**Base URL:** `https://api.sandbox.softlemons.com/`\n\nThis documentation covers the partner integration surface for admin-provisioned API keys.\n\nUse these endpoints when a partner is managing linked merchants and accessing partner-facing operational resources.\n\nAPI keys are created by your SoftLemon admin team and delivered securely. Self-service onboarding and API key generation are not currently available.\n\nThe gateway also sends signed outbound webhooks on transaction state changes. See the Webhooks section below and the [webhook integration guide](/guides/webhooks) for signature verification examples and retry semantics.\n\n## Authenticating requests\n\nTo authenticate requests, include an **`Authorization`** header with the value **`Bearer {YOUR_API_KEY}`**. Use the API key provisioned by your SoftLemon admin team.\n\n## Integration guides\n\nThe [partner integration guide](/guides/partner-integration) walks through the full flow step by step: confirming your key's scope, listing linked merchants, reviewing their transactions and processing payments on a merchant's behalf with `merchant_id`. The same `merchant_id` rules apply to [alternative payments](/guides/accept-an-alternative-payment) through payment sessions. The [webhook integration guide](/guides/webhooks) covers event delivery and signature verification.\n\nPrefer exploring in Postman? Download the [Partner API Postman collection](/collections/softlemon-partner-api.postman_collection.json) and set your API key as the Bearer token on the collection."
  version: 0.9.0
servers:
  -
    url: 'https://api.sandbox.softlemons.com'
tags:
  -
    name: 'Partner API'
    description: ''
  -
    name: 'Payment Sessions'
    description: ''
  -
    name: 'API Operations'
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Use the API key provisioned by your SoftLemon admin team. Self-service onboarding and API key generation are not currently available.'
  parameters:
    XSoftlemonEventId:
      name: X-Softlemon-Event-Id
      in: header
      required: true
      schema:
        type: string
        pattern: '^evt_[0-9a-z]{26}$'
      description: 'Event id, identical to the payload `id`. Stable across retries and replays. Deduplicate on this value.'
    XSoftlemonDeliveryId:
      name: X-Softlemon-Delivery-Id
      in: header
      required: true
      schema:
        type: string
        pattern: '^whd_[0-9a-z]{26}$'
      description: 'Delivery attempt id. Unique per attempt.'
    XSoftlemonEventType:
      name: X-Softlemon-Event-Type
      in: header
      required: true
      schema:
        type: string
      description: 'The event type, e.g. `transaction.captured`.'
    XSoftlemonTimestamp:
      name: X-Softlemon-Timestamp
      in: header
      required: true
      schema:
        type: string
      description: 'Unix seconds at signing time. Equals the `t=` value inside the signature header. Reject deliveries where the difference between now and `t` exceeds 300 seconds.'
    XSoftlemonSignature:
      name: X-Softlemon-Signature
      in: header
      required: true
      schema:
        type: string
        pattern: '^t=\d+,v1=[0-9a-f]{64}$'
      description: '`t={timestamp},v1={hex}` where `hex` is HMAC-SHA256("{timestamp}.{raw_body}", endpoint secret). Verify against the raw request body with a constant-time comparison. See the webhooks guide for reference implementations.'
    XSoftlemonWebhookVersion:
      name: X-Softlemon-Webhook-Version
      in: header
      required: true
      schema:
        type: string
      description: 'Payload schema version, e.g. `2026-08-01`.'
    XSoftlemonReplay:
      name: X-Softlemon-Replay
      in: header
      required: false
      schema:
        type: string
        const: 'true'
      description: 'Present (with value `true`) only when the delivery is a manual replay. Absence means the delivery is not a replay. The header is never sent with the value `false`.'
  schemas:
    WebhookTransactionEvent:
      type: object
      description: 'Envelope for every transaction webhook. The contract is additive by default. New fields may appear at any time without a version bump and receivers must ignore unknown fields. Payloads never contain cardholder data. Amounts are integers in minor units.'
      required:
        - id
        - type
        - created_at
        - api_version
        - data
      properties:
        id:
          type: string
          pattern: '^evt_[0-9a-z]{26}$'
          description: 'Event id, the idempotency key across retries and replays.'
        type:
          type: string
          enum:
            - transaction.authorized
            - transaction.captured
            - transaction.succeeded
            - transaction.settled
            - transaction.partially_settled
            - transaction.paid
            - transaction.voided
            - transaction.refunded
            - transaction.partially_refunded
            - transaction.failed
            - transaction.cancelled
            - transaction.chargeback
            - transaction.pending
        created_at:
          type: string
          format: date-time
          description: 'Event creation time (ISO 8601 UTC).'
        api_version:
          type: string
          description: 'Payload schema version.'
        data:
          type: object
          required:
            - transaction
          properties:
            transaction:
              $ref: '#/components/schemas/WebhookTransactionSnapshot'
            parent_transaction:
              $ref: '#/components/schemas/WebhookParentTransactionSummary'
    WebhookTransactionSnapshot:
      type: object
      description: 'Snapshot of the transaction row that triggered the event.'
      required:
        - id
        - transaction_type
        - status
        - amount
        - currency
      properties:
        id:
          type: integer
          description: 'Gateway transaction id, the unique identifier to reconcile on.'
        merchant_trans_id:
          type:
            - string
            - 'null'
          description: "The merchant's own reference. Captures, refunds and voids share the parent's value. It is not unique on its own."
        related_trans_id:
          type:
            - integer
            - 'null'
          description: 'Parent transaction id on child rows (captures, refunds, voids).'
        transaction_type:
          type: string
          enum:
            - sale
            - auth
            - capture
            - void
            - refund
        status:
          type: string
          description: 'Transaction status. See the [transaction statuses guide](/guides/transaction-statuses).'
        amount:
          type: integer
          description: 'Amount in minor units.'
        currency:
          type: string
          description: 'ISO 4217 currency code.'
        captured_amount:
          type: integer
          description: 'Present only on authorization rows (`transaction_type` = `auth`).'
        refunded_amount:
          type: integer
          description: 'Present only on `sale` and `capture` rows.'
        acquirer_provider:
          type:
            - string
            - 'null'
        acquirer_trans_id:
          type:
            - string
            - 'null'
        acquirer_auth_code:
          type:
            - string
            - 'null'
        description:
          type:
            - string
            - 'null'
        created_at:
          type:
            - string
            - 'null'
          format: date-time
        updated_at:
          type:
            - string
            - 'null'
          format: date-time
    WebhookParentTransactionSummary:
      type: object
      description: "Present only on child-row events (captures, refunds and voids). Contains the parent's updated totals."
      required:
        - id
        - status
        - amount
        - captured_amount
        - refunded_amount
      properties:
        id:
          type: integer
        status:
          type: string
        amount:
          type: integer
        captured_amount:
          type: integer
        refunded_amount:
          type: integer
    WebhookPingEvent:
      type: object
      description: 'Test ping payload. Signed like a real event and never persisted.'
      required:
        - id
        - type
        - created_at
        - api_version
        - data
      properties:
        id:
          type: string
          pattern: '^evt_[0-9a-z]{26}$'
        type:
          type: string
          const: ping
        created_at:
          type: string
          format: date-time
        api_version:
          type: string
        data:
          type: object
          required:
            - merchant_id
          properties:
            merchant_id:
              type: integer
security:
  -
    default: []
webhooks:
  transaction.authorized:
    post:
      summary: 'Transaction authorized'
      description: 'An authorization was approved (status `auth`). Acquirer auto-capture flows emit this first and `transaction.succeeded` afterwards on the same transaction id.'
      parameters:
        -
          $ref: '#/components/parameters/XSoftlemonEventId'
        -
          $ref: '#/components/parameters/XSoftlemonDeliveryId'
        -
          $ref: '#/components/parameters/XSoftlemonEventType'
        -
          $ref: '#/components/parameters/XSoftlemonTimestamp'
        -
          $ref: '#/components/parameters/XSoftlemonSignature'
        -
          $ref: '#/components/parameters/XSoftlemonWebhookVersion'
        -
          $ref: '#/components/parameters/XSoftlemonReplay'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTransactionEvent'
      responses:
        200:
          description: 'Any 2xx status acknowledges the delivery. Anything else, including redirects, triggers the retry schedule.'
  transaction.captured:
    post:
      summary: 'Transaction captured'
      description: "A transaction reached `captured`. Fires on the capture child row and, on a full capture, on the parent authorization's roll-up (distinguish via `transaction_type` and `related_trans_id`)."
      parameters:
        -
          $ref: '#/components/parameters/XSoftlemonEventId'
        -
          $ref: '#/components/parameters/XSoftlemonDeliveryId'
        -
          $ref: '#/components/parameters/XSoftlemonEventType'
        -
          $ref: '#/components/parameters/XSoftlemonTimestamp'
        -
          $ref: '#/components/parameters/XSoftlemonSignature'
        -
          $ref: '#/components/parameters/XSoftlemonWebhookVersion'
        -
          $ref: '#/components/parameters/XSoftlemonReplay'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTransactionEvent'
            example:
              id: evt_01k20b9v6ye2ttfvghw2hcaa8p
              type: transaction.captured
              created_at: '2026-08-05T12:00:00Z'
              api_version: '2026-08-01'
              data:
                transaction:
                  id: 123457
                  merchant_trans_id: ORDER-100045
                  related_trans_id: 123456
                  transaction_type: capture
                  status: captured
                  amount: 5000
                  currency: EUR
                  refunded_amount: 0
                  acquirer_provider: qashpay
                  acquirer_trans_id: 8ac7a4a29852f6f101985300a1b41c2f
                  acquirer_auth_code: '012345'
                  description: null
                  created_at: '2026-08-05T11:59:48Z'
                  updated_at: '2026-08-05T12:00:00Z'
                parent_transaction:
                  id: 123456
                  status: captured
                  amount: 5000
                  captured_amount: 5000
                  refunded_amount: 0
      responses:
        200:
          description: 'Any 2xx status acknowledges the delivery.'
  transaction.succeeded:
    post:
      summary: 'Transaction succeeded'
      description: 'A sale completed (status `success`).'
      parameters:
        -
          $ref: '#/components/parameters/XSoftlemonEventId'
        -
          $ref: '#/components/parameters/XSoftlemonDeliveryId'
        -
          $ref: '#/components/parameters/XSoftlemonEventType'
        -
          $ref: '#/components/parameters/XSoftlemonTimestamp'
        -
          $ref: '#/components/parameters/XSoftlemonSignature'
        -
          $ref: '#/components/parameters/XSoftlemonWebhookVersion'
        -
          $ref: '#/components/parameters/XSoftlemonReplay'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTransactionEvent'
            example:
              id: evt_01k20bhq3rw9mk4t8vczs0e6xj
              type: transaction.succeeded
              created_at: '2026-08-05T12:00:00Z'
              api_version: '2026-08-01'
              data:
                transaction:
                  id: 123456
                  merchant_trans_id: ORDER-100045
                  related_trans_id: null
                  transaction_type: sale
                  status: success
                  amount: 5000
                  currency: EUR
                  refunded_amount: 0
                  acquirer_provider: qashpay
                  acquirer_trans_id: 8ac7a4a29852f6f101985300a1b41c2f
                  acquirer_auth_code: '012345'
                  description: null
                  created_at: '2026-08-05T11:59:48Z'
                  updated_at: '2026-08-05T12:00:00Z'
      responses:
        200:
          description: 'Any 2xx status acknowledges the delivery.'
  transaction.settled:
    post:
      summary: 'Transaction settled'
      description: 'A transaction reached `settled`, including the parent roll-up when a partially captured authorization is closed by a void.'
      parameters:
        -
          $ref: '#/components/parameters/XSoftlemonEventId'
        -
          $ref: '#/components/parameters/XSoftlemonDeliveryId'
        -
          $ref: '#/components/parameters/XSoftlemonEventType'
        -
          $ref: '#/components/parameters/XSoftlemonTimestamp'
        -
          $ref: '#/components/parameters/XSoftlemonSignature'
        -
          $ref: '#/components/parameters/XSoftlemonWebhookVersion'
        -
          $ref: '#/components/parameters/XSoftlemonReplay'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTransactionEvent'
      responses:
        200:
          description: 'Any 2xx status acknowledges the delivery.'
  transaction.partially_settled:
    post:
      summary: 'Transaction partially settled'
      description: 'A parent authorization was partially captured (roll-up status `partially_settled`).'
      parameters:
        -
          $ref: '#/components/parameters/XSoftlemonEventId'
        -
          $ref: '#/components/parameters/XSoftlemonDeliveryId'
        -
          $ref: '#/components/parameters/XSoftlemonEventType'
        -
          $ref: '#/components/parameters/XSoftlemonTimestamp'
        -
          $ref: '#/components/parameters/XSoftlemonSignature'
        -
          $ref: '#/components/parameters/XSoftlemonWebhookVersion'
        -
          $ref: '#/components/parameters/XSoftlemonReplay'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTransactionEvent'
      responses:
        200:
          description: 'Any 2xx status acknowledges the delivery.'
  transaction.paid:
    post:
      summary: 'Transaction paid'
      description: 'A transaction reached `paid`.'
      parameters:
        -
          $ref: '#/components/parameters/XSoftlemonEventId'
        -
          $ref: '#/components/parameters/XSoftlemonDeliveryId'
        -
          $ref: '#/components/parameters/XSoftlemonEventType'
        -
          $ref: '#/components/parameters/XSoftlemonTimestamp'
        -
          $ref: '#/components/parameters/XSoftlemonSignature'
        -
          $ref: '#/components/parameters/XSoftlemonWebhookVersion'
        -
          $ref: '#/components/parameters/XSoftlemonReplay'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTransactionEvent'
      responses:
        200:
          description: 'Any 2xx status acknowledges the delivery.'
  transaction.voided:
    post:
      summary: 'Transaction voided'
      description: 'An authorization or payment was voided.'
      parameters:
        -
          $ref: '#/components/parameters/XSoftlemonEventId'
        -
          $ref: '#/components/parameters/XSoftlemonDeliveryId'
        -
          $ref: '#/components/parameters/XSoftlemonEventType'
        -
          $ref: '#/components/parameters/XSoftlemonTimestamp'
        -
          $ref: '#/components/parameters/XSoftlemonSignature'
        -
          $ref: '#/components/parameters/XSoftlemonWebhookVersion'
        -
          $ref: '#/components/parameters/XSoftlemonReplay'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTransactionEvent'
      responses:
        200:
          description: 'Any 2xx status acknowledges the delivery.'
  transaction.refunded:
    post:
      summary: 'Transaction refunded (fully)'
      description: "A refund completed and the parent's cumulative refunds now cover the captured amount. `data.transaction` is the refund child row and `data.parent_transaction` summarises the parent's updated totals. Each refund is its own child transaction and produces its own event."
      parameters:
        -
          $ref: '#/components/parameters/XSoftlemonEventId'
        -
          $ref: '#/components/parameters/XSoftlemonDeliveryId'
        -
          $ref: '#/components/parameters/XSoftlemonEventType'
        -
          $ref: '#/components/parameters/XSoftlemonTimestamp'
        -
          $ref: '#/components/parameters/XSoftlemonSignature'
        -
          $ref: '#/components/parameters/XSoftlemonWebhookVersion'
        -
          $ref: '#/components/parameters/XSoftlemonReplay'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTransactionEvent'
      responses:
        200:
          description: 'Any 2xx status acknowledges the delivery.'
  transaction.partially_refunded:
    post:
      summary: 'Transaction partially refunded'
      description: "A refund completed but part of the captured amount remains unrefunded. `data.transaction` is the refund child row and `data.parent_transaction` summarises the parent's updated totals."
      parameters:
        -
          $ref: '#/components/parameters/XSoftlemonEventId'
        -
          $ref: '#/components/parameters/XSoftlemonDeliveryId'
        -
          $ref: '#/components/parameters/XSoftlemonEventType'
        -
          $ref: '#/components/parameters/XSoftlemonTimestamp'
        -
          $ref: '#/components/parameters/XSoftlemonSignature'
        -
          $ref: '#/components/parameters/XSoftlemonWebhookVersion'
        -
          $ref: '#/components/parameters/XSoftlemonReplay'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTransactionEvent'
            example:
              id: evt_01k20bt64k2c14n5xw8ahb62pd
              type: transaction.partially_refunded
              created_at: '2026-08-05T14:30:00Z'
              api_version: '2026-08-01'
              data:
                transaction:
                  id: 123460
                  merchant_trans_id: ORDER-100045
                  related_trans_id: 123456
                  transaction_type: refund
                  status: refunded
                  amount: 2000
                  currency: EUR
                  acquirer_provider: qashpay
                  acquirer_trans_id: 8ac7a4a29853f1a801985391c4dd3d61
                  acquirer_auth_code: null
                  description: 'Partial refund'
                  created_at: '2026-08-05T14:29:55Z'
                  updated_at: '2026-08-05T14:30:00Z'
                parent_transaction:
                  id: 123456
                  status: success
                  amount: 5000
                  captured_amount: 5000
                  refunded_amount: 2000
      responses:
        200:
          description: 'Any 2xx status acknowledges the delivery.'
  transaction.failed:
    post:
      summary: 'Transaction failed'
      description: 'A transaction failed.'
      parameters:
        -
          $ref: '#/components/parameters/XSoftlemonEventId'
        -
          $ref: '#/components/parameters/XSoftlemonDeliveryId'
        -
          $ref: '#/components/parameters/XSoftlemonEventType'
        -
          $ref: '#/components/parameters/XSoftlemonTimestamp'
        -
          $ref: '#/components/parameters/XSoftlemonSignature'
        -
          $ref: '#/components/parameters/XSoftlemonWebhookVersion'
        -
          $ref: '#/components/parameters/XSoftlemonReplay'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTransactionEvent'
      responses:
        200:
          description: 'Any 2xx status acknowledges the delivery.'
  transaction.cancelled:
    post:
      summary: 'Transaction cancelled'
      description: 'A transaction was cancelled, including risk rejections and decline-cooldown blocks. Duplicate paper-trail rows (already rejected synchronously with HTTP 409) never emit events.'
      parameters:
        -
          $ref: '#/components/parameters/XSoftlemonEventId'
        -
          $ref: '#/components/parameters/XSoftlemonDeliveryId'
        -
          $ref: '#/components/parameters/XSoftlemonEventType'
        -
          $ref: '#/components/parameters/XSoftlemonTimestamp'
        -
          $ref: '#/components/parameters/XSoftlemonSignature'
        -
          $ref: '#/components/parameters/XSoftlemonWebhookVersion'
        -
          $ref: '#/components/parameters/XSoftlemonReplay'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTransactionEvent'
      responses:
        200:
          description: 'Any 2xx status acknowledges the delivery.'
  transaction.chargeback:
    post:
      summary: 'Transaction chargeback'
      description: 'A chargeback was recorded.'
      parameters:
        -
          $ref: '#/components/parameters/XSoftlemonEventId'
        -
          $ref: '#/components/parameters/XSoftlemonDeliveryId'
        -
          $ref: '#/components/parameters/XSoftlemonEventType'
        -
          $ref: '#/components/parameters/XSoftlemonTimestamp'
        -
          $ref: '#/components/parameters/XSoftlemonSignature'
        -
          $ref: '#/components/parameters/XSoftlemonWebhookVersion'
        -
          $ref: '#/components/parameters/XSoftlemonReplay'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTransactionEvent'
      responses:
        200:
          description: 'Any 2xx status acknowledges the delivery.'
  transaction.pending:
    post:
      summary: 'Transaction pending (opt-in)'
      description: 'A transaction entered `pending`. Delivered only to endpoints whose `events` subscription explicitly lists `transaction.pending`. It is not part of the default event set.'
      parameters:
        -
          $ref: '#/components/parameters/XSoftlemonEventId'
        -
          $ref: '#/components/parameters/XSoftlemonDeliveryId'
        -
          $ref: '#/components/parameters/XSoftlemonEventType'
        -
          $ref: '#/components/parameters/XSoftlemonTimestamp'
        -
          $ref: '#/components/parameters/XSoftlemonSignature'
        -
          $ref: '#/components/parameters/XSoftlemonWebhookVersion'
        -
          $ref: '#/components/parameters/XSoftlemonReplay'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTransactionEvent'
      responses:
        200:
          description: 'Any 2xx status acknowledges the delivery.'
  ping:
    post:
      summary: 'Test ping'
      description: 'Test delivery triggered by an administrator. Signed and structured like a real event but never persisted. `data` contains only `merchant_id`.'
      parameters:
        -
          $ref: '#/components/parameters/XSoftlemonEventId'
        -
          $ref: '#/components/parameters/XSoftlemonDeliveryId'
        -
          $ref: '#/components/parameters/XSoftlemonEventType'
        -
          $ref: '#/components/parameters/XSoftlemonTimestamp'
        -
          $ref: '#/components/parameters/XSoftlemonSignature'
        -
          $ref: '#/components/parameters/XSoftlemonWebhookVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookPingEvent'
            example:
              id: evt_01k20c4x9y5r08qwj6dfhm3bzt
              type: ping
              created_at: '2026-08-05T12:00:00Z'
              api_version: '2026-08-01'
              data:
                merchant_id: 42
      responses:
        200:
          description: 'Any 2xx status acknowledges the delivery.'
paths:
  /api/v1/merchants:
    get:
      summary: 'List Merchants'
      operationId: listMerchants
      description: 'List merchants linked to the authenticated partner. Partner API keys only.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Merchants retrieved successfully'
                  code: ''
                  data:
                    -
                      id: 1
                      name: 'Demo Store Ltd'
                      mcc: '5734'
                      status: active
                      address: '1 High Street'
                      city: London
                      country_code: GB
                      email: merchant@example.com
                      phone: '+441234567890'
                      website: 'https://demo-store.example.com'
                      acquirer_id: 1
                      acquirer:
                        id: 1
                        code: qashpay
                        name: QashPay
                        bank_name: 'Example Bank'
                        bank_country_code: GB
                        settlement_currency_code: EUR
                        status: active
                        created_at: '2025-01-15T09:00:00.000000Z'
                        updated_at: '2025-01-15T09:00:00.000000Z'
                      transactions_count: 128
                      transaction_stats:
                        total_count: 128
                        total_volume: 645000
                      partnership:
                        status: active
                        notes: null
                        approved_at: '2025-02-01T12:00:00.000000Z'
                      created_at: '2025-01-20T09:00:00.000000Z'
                      updated_at: '2025-05-20T09:18:47.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Merchants retrieved successfully'
                  code:
                    type: string
                    example: ''
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: 'Demo Store Ltd'
                        mcc: '5734'
                        status: active
                        address: '1 High Street'
                        city: London
                        country_code: GB
                        email: merchant@example.com
                        phone: '+441234567890'
                        website: 'https://demo-store.example.com'
                        acquirer_id: 1
                        acquirer:
                          id: 1
                          code: qashpay
                          name: QashPay
                          bank_name: 'Example Bank'
                          bank_country_code: GB
                          settlement_currency_code: EUR
                          status: active
                          created_at: '2025-01-15T09:00:00.000000Z'
                          updated_at: '2025-01-15T09:00:00.000000Z'
                        transactions_count: 128
                        transaction_stats:
                          total_count: 128
                          total_volume: 645000
                        partnership:
                          status: active
                          notes: null
                          approved_at: '2025-02-01T12:00:00.000000Z'
                        created_at: '2025-01-20T09:00:00.000000Z'
                        updated_at: '2025-05-20T09:18:47.000000Z'
                    description: 'Merchants linked to the authenticated partner. Each entry includes the acquirer, transaction stats and the partnership status.'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: 'Demo Store Ltd'
                        mcc:
                          type: string
                          example: '5734'
                        status:
                          type: string
                          example: active
                        address:
                          type: string
                          example: '1 High Street'
                        city:
                          type: string
                          example: London
                        country_code:
                          type: string
                          example: GB
                        email:
                          type: string
                          example: merchant@example.com
                        phone:
                          type: string
                          example: '+441234567890'
                        website:
                          type: string
                          example: 'https://demo-store.example.com'
                        acquirer_id:
                          type: integer
                          example: 1
                        acquirer:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            code:
                              type: string
                              example: qashpay
                            name:
                              type: string
                              example: QashPay
                            bank_name:
                              type: string
                              example: 'Example Bank'
                            bank_country_code:
                              type: string
                              example: GB
                            settlement_currency_code:
                              type: string
                              example: EUR
                            status:
                              type: string
                              example: active
                            created_at:
                              type: string
                              example: '2025-01-15T09:00:00.000000Z'
                            updated_at:
                              type: string
                              example: '2025-01-15T09:00:00.000000Z'
                        transactions_count:
                          type: integer
                          example: 128
                        transaction_stats:
                          type: object
                          properties:
                            total_count:
                              type: integer
                              example: 128
                            total_volume:
                              type: integer
                              example: 645000
                        partnership:
                          type: object
                          properties:
                            status:
                              type: string
                              example: active
                            notes:
                              type: string
                              example: null
                            approved_at:
                              type: string
                              example: '2025-02-01T12:00:00.000000Z'
                        created_at:
                          type: string
                          example: '2025-01-20T09:00:00.000000Z'
                        updated_at:
                          type: string
                          example: '2025-05-20T09:18:47.000000Z'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Authentication failed'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Authentication failed'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        403:
          description: 'The API key is not a partner key or the partner account is not active. See the [error catalogue](/api-basics/errors).'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Access denied: This endpoint is only accessible to partners.'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Access denied: This endpoint is only accessible to partners.'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        429:
          description: 'Rate limit exceeded. See [rate limits](/api-basics/rate-limits).'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Too many requests'
                  code: ERR_RATE_LIMITED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Too many requests'
                  code:
                    type: string
                    example: ERR_RATE_LIMITED
                  data:
                    type: string
                    example: null
      tags:
        - 'Partner API'
  '/api/v1/merchants/{merchant_id}':
    get:
      summary: 'Get Merchant'
      operationId: getMerchant
      description: 'Get a specific merchant linked to the authenticated partner. Partner API keys only.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Merchant retrieved successfully'
                  code: ''
                  data:
                    id: 1
                    name: 'Demo Store Ltd'
                    mcc: '5734'
                    status: active
                    address: '1 High Street'
                    city: London
                    country_code: GB
                    email: merchant@example.com
                    phone: '+441234567890'
                    website: 'https://demo-store.example.com'
                    acquirer_id: 1
                    acquirer:
                      id: 1
                      code: qashpay
                      name: QashPay
                      bank_name: 'Example Bank'
                      bank_country_code: GB
                      settlement_currency_code: EUR
                      status: active
                      created_at: '2025-01-15T09:00:00.000000Z'
                      updated_at: '2025-01-15T09:00:00.000000Z'
                    transactions_count: 128
                    transaction_stats:
                      total_count: 128
                      total_volume: 645000
                      successful_count: 117
                      failed_count: 11
                    created_at: '2025-01-20T09:00:00.000000Z'
                    updated_at: '2025-05-20T09:18:47.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Merchant retrieved successfully'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'Demo Store Ltd'
                      mcc:
                        type: string
                        example: '5734'
                      status:
                        type: string
                        example: active
                      address:
                        type: string
                        example: '1 High Street'
                      city:
                        type: string
                        example: London
                      country_code:
                        type: string
                        example: GB
                      email:
                        type: string
                        example: merchant@example.com
                      phone:
                        type: string
                        example: '+441234567890'
                      website:
                        type: string
                        example: 'https://demo-store.example.com'
                      acquirer_id:
                        type: integer
                        example: 1
                      acquirer:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          code:
                            type: string
                            example: qashpay
                          name:
                            type: string
                            example: QashPay
                          bank_name:
                            type: string
                            example: 'Example Bank'
                          bank_country_code:
                            type: string
                            example: GB
                          settlement_currency_code:
                            type: string
                            example: EUR
                          status:
                            type: string
                            example: active
                          created_at:
                            type: string
                            example: '2025-01-15T09:00:00.000000Z'
                          updated_at:
                            type: string
                            example: '2025-01-15T09:00:00.000000Z'
                      transactions_count:
                        type: integer
                        example: 128
                      transaction_stats:
                        type: object
                        properties:
                          total_count:
                            type: integer
                            example: 128
                          total_volume:
                            type: integer
                            example: 645000
                          successful_count:
                            type: integer
                            example: 117
                          failed_count:
                            type: integer
                            example: 11
                      created_at:
                        type: string
                        example: '2025-01-20T09:00:00.000000Z'
                      updated_at:
                        type: string
                        example: '2025-05-20T09:18:47.000000Z'
                    description: 'The merchant profile with acquirer details and transaction stats.'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Authentication failed'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Authentication failed'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        403:
          description: 'The API key is not a partner key or the partner account is not active. See the [error catalogue](/api-basics/errors).'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Access denied: This endpoint is only accessible to partners.'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Access denied: This endpoint is only accessible to partners.'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        404:
          description: 'The merchant does not exist or is not linked to your partner account. See the [error catalogue](/api-basics/errors).'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Merchant not found.'
                  code: ERR_NOT_FOUND
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Merchant not found.'
                  code:
                    type: string
                    example: ERR_NOT_FOUND
                  data:
                    type: string
                    example: null
        429:
          description: 'Rate limit exceeded. See [rate limits](/api-basics/rate-limits).'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Too many requests'
                  code: ERR_RATE_LIMITED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Too many requests'
                  code:
                    type: string
                    example: ERR_RATE_LIMITED
                  data:
                    type: string
                    example: null
      tags:
        - 'Partner API'
    parameters:
      -
        in: path
        name: merchant_id
        description: 'The ID of the merchant.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/merchants/{merchant_id}/transactions':
    get:
      summary: 'Get Merchant Transactions'
      operationId: getMerchantTransactions
      description: 'Get transactions for a merchant linked to the authenticated partner. Partner API keys only.'
      parameters:
        -
          in: query
          name: status
          description: 'Filter transactions by status.'
          example: success
          required: false
          schema:
            type: string
        -
          in: query
          name: from
          description: 'Filter transactions created on or after this date.'
          example: '2024-01-01'
          required: false
          schema:
            type: string
        -
          in: query
          name: to
          description: 'Filter transactions created on or before this date.'
          example: '2024-12-31'
          required: false
          schema:
            type: string
        -
          in: query
          name: per_page
          description: 'Number of transactions per page. Maximum 100.'
          example: 25
          required: false
          schema:
            type: integer
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Transactions retrieved successfully'
                  code: ''
                  data:
                    transactions:
                      -
                        id: 123456
                        merchant_id: 1
                        merchant_trans_id: ORDER-100045
                        amount: 5000
                        amount_formatted: '50.00 EUR'
                        currency: EUR
                        status: success
                        transaction_type: sale
                        description: null
                        acquirer_provider: qashpay
                        acquirer_trans_id: 8ac7a4a29852f6f101985300a1b41c2f
                        acquirer_auth_code: '012345'
                        related_trans_id: null
                        refunded_amount: 0
                        customer: null
                        cardholder: null
                        payment_instrument: null
                        ip_address: 172.19.0.7
                        created_at: '2025-05-20T09:18:47.000000Z'
                        updated_at: '2025-05-20T09:18:48.000000Z'
                    pagination:
                      current_page: 1
                      last_page: 1
                      per_page: 25
                      total: 1
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Transactions retrieved successfully'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      transactions:
                        type: array
                        example:
                          -
                            id: 123456
                            merchant_id: 1
                            merchant_trans_id: ORDER-100045
                            amount: 5000
                            amount_formatted: '50.00 EUR'
                            currency: EUR
                            status: success
                            transaction_type: sale
                            description: null
                            acquirer_provider: qashpay
                            acquirer_trans_id: 8ac7a4a29852f6f101985300a1b41c2f
                            acquirer_auth_code: '012345'
                            related_trans_id: null
                            refunded_amount: 0
                            customer: null
                            cardholder: null
                            payment_instrument: null
                            ip_address: 172.19.0.7
                            created_at: '2025-05-20T09:18:47.000000Z'
                            updated_at: '2025-05-20T09:18:48.000000Z'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 123456
                            merchant_id:
                              type: integer
                              example: 1
                            merchant_trans_id:
                              type: string
                              example: ORDER-100045
                            amount:
                              type: integer
                              example: 5000
                            amount_formatted:
                              type: string
                              example: '50.00 EUR'
                            currency:
                              type: string
                              example: EUR
                            status:
                              type: string
                              example: success
                            transaction_type:
                              type: string
                              example: sale
                            description:
                              type: string
                              example: null
                            acquirer_provider:
                              type: string
                              example: qashpay
                            acquirer_trans_id:
                              type: string
                              example: 8ac7a4a29852f6f101985300a1b41c2f
                            acquirer_auth_code:
                              type: string
                              example: '012345'
                            related_trans_id:
                              type: string
                              example: null
                            refunded_amount:
                              type: integer
                              example: 0
                            customer:
                              type: string
                              example: null
                            cardholder:
                              type: string
                              example: null
                            payment_instrument:
                              type: string
                              example: null
                            ip_address:
                              type: string
                              example: 172.19.0.7
                            created_at:
                              type: string
                              example: '2025-05-20T09:18:47.000000Z'
                            updated_at:
                              type: string
                              example: '2025-05-20T09:18:48.000000Z'
                      pagination:
                        type: object
                        properties:
                          current_page:
                            type: integer
                            example: 1
                          last_page:
                            type: integer
                            example: 1
                          per_page:
                            type: integer
                            example: 25
                          total:
                            type: integer
                            example: 1
                    description: 'The transaction list ordered newest first, plus pagination info.'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Authentication failed'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Authentication failed'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        403:
          description: 'The API key is not a partner key or the partner account is not active. See the [error catalogue](/api-basics/errors).'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Access denied: This endpoint is only accessible to partners.'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Access denied: This endpoint is only accessible to partners.'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        404:
          description: 'The merchant does not exist or is not linked to your partner account. See the [error catalogue](/api-basics/errors).'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Merchant not found.'
                  code: ERR_NOT_FOUND
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Merchant not found.'
                  code:
                    type: string
                    example: ERR_NOT_FOUND
                  data:
                    type: string
                    example: null
        429:
          description: 'Rate limit exceeded. See [rate limits](/api-basics/rate-limits).'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Too many requests'
                  code: ERR_RATE_LIMITED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Too many requests'
                  code:
                    type: string
                    example: ERR_RATE_LIMITED
                  data:
                    type: string
                    example: null
      tags:
        - 'Partner API'
    parameters:
      -
        in: path
        name: merchant_id
        description: 'The ID of the merchant.'
        example: 1
        required: true
        schema:
          type: integer
  /api/v1/payment-sessions:
    post:
      summary: 'Create a payment session'
      operationId: createAPaymentSession
      description: "Create a redirect payment session and return the provider `checkout_url` to send\nthe customer to. The session expires 15 minutes after creation if the customer\ndoes not complete the hosted payment page.\n\nMerchant API keys act on their own account. Partner API keys must include\n`merchant_id` for a linked merchant.\n\nSessions never accept card data. Requests carrying card, token, CVV or voucher\nfields are rejected with HTTP 422. Duplicate requests reusing an active\n`reference` are rejected with HTTP 409. See the [duplicate protection guide](/guides/duplicate-protection).\n\nFollow the [alternative payment guide](/guides/accept-an-alternative-payment) for the full flow."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Payment session created'
                  code: ''
                  data:
                    payment_session:
                      payment_session_id: ps_01J8FYK3ZQ4T9RB2M6XD5A7CWE
                      transaction_id: 4512
                      merchant_id: 123
                      merchant_reference: DEP-2048
                      provider: skrill
                      payment_method: psc
                      status: pending_redirect
                      amount: 2500
                      amount_formatted: '25.00'
                      currency: EUR
                      checkout_url: 'https://pay.skrill.com/app/?sid=a1b2c3d4e5'
                      return_url: 'https://merchant.example.com/deposit/complete'
                      cancel_url: 'https://merchant.example.com/deposit/cancelled'
                      provider_session_id: a1b2c3d4e5
                      provider_transaction_id: null
                      customer_reference: player-981
                      expires_at: '2026-08-08T10:30:00.000000Z'
                      finalised_at: null
                      created_at: '2026-08-08T10:15:00.000000Z'
                      updated_at: '2026-08-08T10:15:00.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Payment session created'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      payment_session:
                        type: object
                        properties:
                          payment_session_id:
                            type: string
                            example: ps_01J8FYK3ZQ4T9RB2M6XD5A7CWE
                          transaction_id:
                            type: integer
                            example: 4512
                          merchant_id:
                            type: integer
                            example: 123
                          merchant_reference:
                            type: string
                            example: DEP-2048
                          provider:
                            type: string
                            example: skrill
                          payment_method:
                            type: string
                            example: psc
                          status:
                            type: string
                            example: pending_redirect
                          amount:
                            type: integer
                            example: 2500
                          amount_formatted:
                            type: string
                            example: '25.00'
                          currency:
                            type: string
                            example: EUR
                          checkout_url:
                            type: string
                            example: 'https://pay.skrill.com/app/?sid=a1b2c3d4e5'
                          return_url:
                            type: string
                            example: 'https://merchant.example.com/deposit/complete'
                          cancel_url:
                            type: string
                            example: 'https://merchant.example.com/deposit/cancelled'
                          provider_session_id:
                            type: string
                            example: a1b2c3d4e5
                          provider_transaction_id:
                            type: string
                            example: null
                          customer_reference:
                            type: string
                            example: player-981
                          expires_at:
                            type: string
                            example: '2026-08-08T10:30:00.000000Z'
                          finalised_at:
                            type: string
                            example: null
                          created_at:
                            type: string
                            example: '2026-08-08T10:15:00.000000Z'
                          updated_at:
                            type: string
                            example: '2026-08-08T10:15:00.000000Z'
        400:
          description: 'Session rejected. The `code` field identifies the reason, for example ERR_PAYMENT_METHOD_NOT_ENABLED when the method, currency or country is not enabled for the merchant. See the [error catalogue](/api-basics/errors).'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'This payment method is not enabled for the merchant.'
                  code: ERR_PAYMENT_METHOD_NOT_ENABLED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'This payment method is not enabled for the merchant.'
                  code:
                    type: string
                    example: ERR_PAYMENT_METHOD_NOT_ENABLED
                  data:
                    type: string
                    example: null
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Authentication failed'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Authentication failed'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        409:
          description: 'A session or transaction with this `reference` already exists. See the [duplicate protection guide](/guides/duplicate-protection).'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'A payment session with this reference already exists.'
                  code: ERR_DUPLICATE
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'A payment session with this reference already exists.'
                  code:
                    type: string
                    example: ERR_DUPLICATE
                  data:
                    type: string
                    example: null
        422:
          description: 'Validation failed. This includes any request carrying card, token, CVV or voucher data.'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation errors'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    card:
                      - 'Card, token, CVV and voucher data are not accepted on redirect payment sessions.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation errors'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      card:
                        type: array
                        example:
                          - 'Card, token, CVV and voucher data are not accepted on redirect payment sessions.'
                        items:
                          type: string
        429:
          description: 'Rate limit exceeded. See [rate limits](/api-basics/rate-limits).'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Too many requests'
                  code: ERR_RATE_LIMITED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Too many requests'
                  code:
                    type: string
                    example: ERR_RATE_LIMITED
                  data:
                    type: string
                    example: null
        502:
          description: 'The provider could not prepare the hosted session. The session and its transaction are marked failed. Create a new session to retry.'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Failed to create the payment session with the provider.'
                  code: ERR_GATEWAY_ERROR
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Failed to create the payment session with the provider.'
                  code:
                    type: string
                    example: ERR_GATEWAY_ERROR
                  data:
                    type: string
                    example: null
      tags:
        - 'Payment Sessions'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: 'Payment amount in major units. The minimum is 1.00. Amounts are returned in minor units.'
                  example: 25.0
                currency:
                  type: string
                  description: 'Payment currency as a 3-letter ISO code.'
                  example: EUR
                reference:
                  type: string
                  description: 'Your unique payment reference.'
                  example: DEP-2048
                payment_method:
                  type: string
                  description: 'Redirect payment method.'
                  example: psc
                  enum:
                    - psc
                customer:
                  type: object
                  description: 'Customer details.'
                  properties:
                    first_name:
                      type:
                        - string
                        - 'null'
                      description: 'Customer first name.'
                      example: Jane
                    last_name:
                      type:
                        - string
                        - 'null'
                      description: 'Customer last name.'
                      example: Doe
                    country_code:
                      type:
                        - string
                        - 'null'
                      description: 'Customer country as a 2-letter ISO code.'
                      example: GB
                    merchant_customer_id:
                      type:
                        - string
                        - 'null'
                      description: 'Your id for this customer.'
                      example: player-981
                customer_reference:
                  type:
                    - string
                    - 'null'
                  description: 'Your customer or session reference, returned on the session.'
                  example: player-981
                success_url:
                  type: string
                  description: 'Browser return URL after the customer finishes at the provider. Informational only, never proof of payment. Returned on the session as `return_url`.'
                  example: 'https://merchant.example.com/deposit/complete'
                cancel_url:
                  type: string
                  description: 'Browser return URL if the customer cancels at the provider. Returned on the session as `cancel_url`.'
                  example: 'https://merchant.example.com/deposit/cancelled'
                metadata:
                  type:
                    - object
                    - 'null'
                  description: 'Arbitrary key/value pairs stored with the session.'
                  example:
                    campaign: welcome
                  properties: []
                merchant_id:
                  type:
                    - integer
                    - 'null'
                  description: 'Required for partner API keys. Must be a merchant linked to the authenticated partner.'
                  example: 123
              required:
                - amount
                - currency
                - reference
                - payment_method
                - customer
                - success_url
                - cancel_url
  '/api/v1/payment-sessions/{paymentSession_public_id}':
    get:
      summary: 'Get a payment session'
      operationId: getAPaymentSession
      description: "Retrieve the current state of a payment session. Poll this endpoint after the\ncustomer returns to your success URL or rely on [webhooks](/guides/webhooks)\nfor the final outcome. A session is only complete when its status is `paid`.\n\nMerchant API keys can read their own sessions. Partner API keys can read\nsessions belonging to linked merchants."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Payment session retrieved'
                  code: ''
                  data:
                    payment_session:
                      payment_session_id: ps_01J8FYK3ZQ4T9RB2M6XD5A7CWE
                      transaction_id: 4512
                      merchant_id: 123
                      merchant_reference: DEP-2048
                      provider: skrill
                      payment_method: psc
                      status: paid
                      amount: 2500
                      amount_formatted: '25.00'
                      currency: EUR
                      checkout_url: 'https://pay.skrill.com/app/?sid=a1b2c3d4e5'
                      return_url: 'https://merchant.example.com/deposit/complete'
                      cancel_url: 'https://merchant.example.com/deposit/cancelled'
                      provider_session_id: a1b2c3d4e5
                      provider_transaction_id: '2649912345'
                      customer_reference: player-981
                      expires_at: '2026-08-08T10:30:00.000000Z'
                      finalised_at: '2026-08-08T10:18:42.000000Z'
                      created_at: '2026-08-08T10:15:00.000000Z'
                      updated_at: '2026-08-08T10:18:42.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Payment session retrieved'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      payment_session:
                        type: object
                        properties:
                          payment_session_id:
                            type: string
                            example: ps_01J8FYK3ZQ4T9RB2M6XD5A7CWE
                          transaction_id:
                            type: integer
                            example: 4512
                          merchant_id:
                            type: integer
                            example: 123
                          merchant_reference:
                            type: string
                            example: DEP-2048
                          provider:
                            type: string
                            example: skrill
                          payment_method:
                            type: string
                            example: psc
                          status:
                            type: string
                            example: paid
                          amount:
                            type: integer
                            example: 2500
                          amount_formatted:
                            type: string
                            example: '25.00'
                          currency:
                            type: string
                            example: EUR
                          checkout_url:
                            type: string
                            example: 'https://pay.skrill.com/app/?sid=a1b2c3d4e5'
                          return_url:
                            type: string
                            example: 'https://merchant.example.com/deposit/complete'
                          cancel_url:
                            type: string
                            example: 'https://merchant.example.com/deposit/cancelled'
                          provider_session_id:
                            type: string
                            example: a1b2c3d4e5
                          provider_transaction_id:
                            type: string
                            example: '2649912345'
                          customer_reference:
                            type: string
                            example: player-981
                          expires_at:
                            type: string
                            example: '2026-08-08T10:30:00.000000Z'
                          finalised_at:
                            type: string
                            example: '2026-08-08T10:18:42.000000Z'
                          created_at:
                            type: string
                            example: '2026-08-08T10:15:00.000000Z'
                          updated_at:
                            type: string
                            example: '2026-08-08T10:18:42.000000Z'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Authentication failed'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Authentication failed'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        403:
          description: 'The session belongs to a merchant this API key cannot access.'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Access denied: Resource not accessible'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Access denied: Resource not accessible'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        404:
          description: 'No payment session with this id exists. See the [error catalogue](/api-basics/errors).'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'PaymentSession not found'
                  code: ERR_NOT_FOUND
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'PaymentSession not found'
                  code:
                    type: string
                    example: ERR_NOT_FOUND
                  data:
                    type: string
                    example: null
        429:
          description: 'Rate limit exceeded. See [rate limits](/api-basics/rate-limits).'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Too many requests'
                  code: ERR_RATE_LIMITED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Too many requests'
                  code:
                    type: string
                    example: ERR_RATE_LIMITED
                  data:
                    type: string
                    example: null
      tags:
        - 'Payment Sessions'
    parameters:
      -
        in: path
        name: paymentSession_public_id
        description: 'The ID of the paymentSession public.'
        example: architecto
        required: true
        schema:
          type: string
      -
        in: path
        name: paymentSession
        description: 'The payment session id.'
        example: ps_01J8FYK3ZQ4T9RB2M6XD5A7CWE
        required: true
        schema:
          type: string
  /api/v1/key-info:
    get:
      summary: 'Get API Key Information'
      operationId: getAPIKeyInformation
      description: "Returns information about the API key being used to authenticate the request.\nAPI keys are provisioned by SoftLemon admins for merchants and partners.\nSelf-service onboarding and API key generation are not currently available."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'API key information retrieved successfully'
                  code: ''
                  data:
                    key_identifier: sl_20250411105714_TTwbAVtw
                    name: 'Partner production key'
                    status: active
                    entity_type: partner
                    entity_id: 7
                    entity_name: 'Acme Payments Partner'
                    created_at: '2025-04-11T10:57:14.000000Z'
                    last_used_at: '2025-05-20T09:18:47.000000Z'
                    expires_at: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'API key information retrieved successfully'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      key_identifier:
                        type: string
                        example: sl_20250411105714_TTwbAVtw
                      name:
                        type: string
                        example: 'Partner production key'
                      status:
                        type: string
                        example: active
                      entity_type:
                        type: string
                        example: partner
                      entity_id:
                        type: integer
                        example: 7
                      entity_name:
                        type: string
                        example: 'Acme Payments Partner'
                      created_at:
                        type: string
                        example: '2025-04-11T10:57:14.000000Z'
                      last_used_at:
                        type: string
                        example: '2025-05-20T09:18:47.000000Z'
                      expires_at:
                        type: string
                        example: null
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Authentication failed'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Authentication failed'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        429:
          description: 'Rate limit exceeded. See [rate limits](/api-basics/rate-limits).'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Too many requests'
                  code: ERR_RATE_LIMITED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Too many requests'
                  code:
                    type: string
                    example: ERR_RATE_LIMITED
                  data:
                    type: string
                    example: null
      tags:
        - 'API Operations'
