openapi: 3.0.3
info:
  title: 'Softlemon API Documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://softlemon.ddev.site'
tags:
  -
    name: Authentication
    description: ''
  -
    name: 'Self-Service API Keys'
    description: ''
  -
    name: 'Admin API Key Management'
    description: ''
  -
    name: 'IP Management'
    description: ''
  -
    name: 'Card Verification'
    description: ''
  -
    name: Transactions
    description: ''
  -
    name: 'API Operations'
    description: ''
  -
    name: 'Other Endpoints'
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>.'
security:
  -
    default: []
paths:
  /api/register/merchant:
    post:
      summary: 'Register Merchant'
      operationId: registerMerchant
      description: 'Register a new merchant user.'
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Merchant registered successfully. Please complete verification.'
                  code: ''
                  data:
                    user_id: 13
                    merchant_id: 17
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Merchant registered successfully. Please complete verification.'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      user_id:
                        type: integer
                        example: 13
                      merchant_id:
                        type: integer
                        example: 17
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation error'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    name:
                      - 'The name field is required.'
                    email:
                      - 'The email has already been taken.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation error'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      name:
                        type: array
                        example:
                          - 'The name field is required.'
                        items:
                          type: string
                      email:
                        type: array
                        example:
                          - 'The email has already been taken.'
                        items:
                          type: string
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Merchant username.'
                  example: architecto
                  nullable: false
                email:
                  type: string
                  description: 'Merchant email. Must be a valid email.'
                  example: merchant@example.com
                  nullable: false
                password:
                  type: string
                  description: 'Merchant user password.'
                  example: '|]|{+-'
                  nullable: false
                merchant_name:
                  type: required
                  description: 'string required Merchant name.'
                  example: architecto
                  nullable: false
                mcc:
                  type: string
                  description: 'Merchant 4-digit MCC code.'
                  example: '5999'
                  nullable: false
                terms_accepted:
                  type: boolean
                  description: 'Must be accepted.'
                  example: true
                  nullable: false
              required:
                - name
                - email
                - password
                - mcc
                - terms_accepted
      security: []
  /api/register/partner:
    post:
      summary: 'Register Partner'
      operationId: registerPartner
      description: 'Register a new partner user.'
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Partner registered successfully. Please complete verification.'
                  code: ''
                  data:
                    user_id: 14
                    partner_id: 3
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Partner registered successfully. Please complete verification.'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      user_id:
                        type: integer
                        example: 14
                      partner_id:
                        type: integer
                        example: 3
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation error'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    name:
                      - 'The name field is required.'
                    email:
                      - 'The email has already been taken.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation error'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      name:
                        type: array
                        example:
                          - 'The name field is required.'
                        items:
                          type: string
                      email:
                        type: array
                        example:
                          - 'The email has already been taken.'
                        items:
                          type: string
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Partner username.'
                  example: architecto
                  nullable: false
                email:
                  type: string
                  description: 'Partner email. Must be a valid email.'
                  example: partner@example.com
                  nullable: false
                password:
                  type: string
                  description: 'Partner user password.'
                  example: '|]|{+-'
                  nullable: false
                partner_name:
                  type: required
                  description: 'string Partner name.'
                  example: architecto
                  nullable: false
                partner_type:
                  type: string
                  description: ''
                  example: service_provider
                  nullable: false
                  enum:
                    - service_provider
                    - reseller
                    - technology_partner
                terms_accepted:
                  type: boolean
                  description: 'Must be accepted.'
                  example: true
                  nullable: false
              required:
                - name
                - email
                - password
                - partner_type
                - terms_accepted
      security: []
  /api/login:
    post:
      summary: Login
      operationId: login
      description: 'Log in a user and return an OAuth token.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Login successful'
                  code: ''
                  data:
                    user_id: 1
                    merchant_ids:
                      - 1
                    partner_ids: []
                    access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZTdhMGQ5NC1hNTRkLTQyMDEtYWQwNC02NWE0NGM3YWZjMzYiLCJqdGkiOiJhYTVmMzFkY2VhZjczNThjNGE4YjFkMDQxMWMzY2ZlNDJhMjE0Y2FiMGY2ZGExZmYwNzcxN2NlMDIyYmYzYmFhOGQzNWQ4NzY0Y2EyODU0NCIsImlhdCI6MTc0NDAxNzgzMS4wOTAxNTEsIm5iZiI6MTc0NDAxNzgzMS4wOTAxNTIsImV4cCI6MTc3NTU1MzgzMS4wODIzNywic3ViIjoiMSIsInNjb3BlcyI6WyJtZXJjaGFudCJdfQ.j3sUOLXsohELC32pFKzi_owBu9_sUSWsxm0y2x85ilYOT5sfQbXcIW51vEmY-qp4mGEHRr1seuOPS7Zq_XLBiNa4VBrmiaFkive3U93PFBuUsxTmQTt9wTWaiGDrQEXnMmlx9uVhhl6YImV4RvY2DqVtAovM1SSEwVSYdYwBFfLFtgdMv4ohVrh_q0AeCrsLj4vZvUjyADJTfMv4e005Jcb1uSOMkIgOmWJd6dk5y56s0oL4agw-H2Ug69R9oujW5g29kY5oZiCGlTZEOTz_FN6rtIG4MMKauIi4Te9iBMR4eYFxC7vVWpSwGhalSk8ELm-niXgjMeKD5PNHRt8YLBxRu3Gs3tF1LgEcMZQlSvA0QPXN7-_9klDWX90otPwb06jgrSxj3XfJHVhuENUJSA8lK5arBzrk09Tb620Wz9QKEVx1-gJwdCGmT6BnIpBe10NBbZzv1RtYl7it9h8-dO2IT6MJA6CVlo8MZbSk7Dn2MIbtU9oliP1mrpPCsM_wZHtzo-eLWJeqkCeOeFnnTMzRlUdIZlKfHS6lnS39YjNbXjGmxMrH52RopoHRCbaA4pMO8h0xNeC1MLC6Qyeh6J-9KfxhnAsY5w13c_foujaN0qhIGhykpu-bYUBBuWlurygSs2p7Txu2FFfyN5T3IWyDGPme-pr_yF_m4M2QJ-E
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Login successful'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      user_id:
                        type: integer
                        example: 1
                      merchant_ids:
                        type: array
                        example:
                          - 1
                        items:
                          type: integer
                      partner_ids:
                        type: array
                        example: []
                      access_token:
                        type: string
                        example: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZTdhMGQ5NC1hNTRkLTQyMDEtYWQwNC02NWE0NGM3YWZjMzYiLCJqdGkiOiJhYTVmMzFkY2VhZjczNThjNGE4YjFkMDQxMWMzY2ZlNDJhMjE0Y2FiMGY2ZGExZmYwNzcxN2NlMDIyYmYzYmFhOGQzNWQ4NzY0Y2EyODU0NCIsImlhdCI6MTc0NDAxNzgzMS4wOTAxNTEsIm5iZiI6MTc0NDAxNzgzMS4wOTAxNTIsImV4cCI6MTc3NTU1MzgzMS4wODIzNywic3ViIjoiMSIsInNjb3BlcyI6WyJtZXJjaGFudCJdfQ.j3sUOLXsohELC32pFKzi_owBu9_sUSWsxm0y2x85ilYOT5sfQbXcIW51vEmY-qp4mGEHRr1seuOPS7Zq_XLBiNa4VBrmiaFkive3U93PFBuUsxTmQTt9wTWaiGDrQEXnMmlx9uVhhl6YImV4RvY2DqVtAovM1SSEwVSYdYwBFfLFtgdMv4ohVrh_q0AeCrsLj4vZvUjyADJTfMv4e005Jcb1uSOMkIgOmWJd6dk5y56s0oL4agw-H2Ug69R9oujW5g29kY5oZiCGlTZEOTz_FN6rtIG4MMKauIi4Te9iBMR4eYFxC7vVWpSwGhalSk8ELm-niXgjMeKD5PNHRt8YLBxRu3Gs3tF1LgEcMZQlSvA0QPXN7-_9klDWX90otPwb06jgrSxj3XfJHVhuENUJSA8lK5arBzrk09Tb620Wz9QKEVx1-gJwdCGmT6BnIpBe10NBbZzv1RtYl7it9h8-dO2IT6MJA6CVlo8MZbSk7Dn2MIbtU9oliP1mrpPCsM_wZHtzo-eLWJeqkCeOeFnnTMzRlUdIZlKfHS6lnS39YjNbXjGmxMrH52RopoHRCbaA4pMO8h0xNeC1MLC6Qyeh6J-9KfxhnAsY5w13c_foujaN0qhIGhykpu-bYUBBuWlurygSs2p7Txu2FFfyN5T3IWyDGPme-pr_yF_m4M2QJ-E
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Invalid credentials'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Invalid credentials'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation error'
                  code: ERR_VALIDATION_FAILED
                  errors:
                    email:
                      - 'The email field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation error'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  errors:
                    type: object
                    properties:
                      email:
                        type: array
                        example:
                          - 'The email field is required.'
                        items:
                          type: string
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'User email. Must be a valid email.'
                  example: user@example.com
                  nullable: false
                password:
                  type: string
                  description: 'User password.'
                  example: '|]|{+-'
                  nullable: false
              required:
                - email
                - password
      security: []
  /api/logout:
    post:
      summary: Logout
      operationId: logout
      description: 'Log out a user by revoking tokens.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Login successful'
                  code: ''
                  data: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Login successful'
                  code:
                    type: string
                    example: ''
                  data:
                    type: string
                    example: null
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: Unauthenticated.
                  code: ERR_AUTH_REQUIRED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ERR_AUTH_REQUIRED
                  data:
                    type: string
                    example: null
      tags:
        - Authentication
  /api/my/merchant/api-keys:
    post:
      summary: 'Generate Own Merchant API Key'
      operationId: generateOwnMerchantAPIKey
      description: "Generate an API key for the authenticated user's own merchant."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'API key generated successfully'
                  code: ''
                  data:
                    id: 9
                    name: 'Merchant API Key'
                    api_key: sl_20250411103012_id1YCQGG.7kzTEl3fcql6DUFoNgNNiAUYExed2pwlD0kUSUDjSQPPOhJ1
                    expires_at: '2026-12-31T00:00:00.000000Z'
                    entity_type: merchant
                    entity_id: 1
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'API key generated successfully'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 9
                      name:
                        type: string
                        example: 'Merchant API Key'
                      api_key:
                        type: string
                        example: sl_20250411103012_id1YCQGG.7kzTEl3fcql6DUFoNgNNiAUYExed2pwlD0kUSUDjSQPPOhJ1
                      expires_at:
                        type: string
                        example: '2026-12-31T00:00:00.000000Z'
                      entity_type:
                        type: string
                        example: merchant
                      entity_id:
                        type: integer
                        example: 1
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: Unauthenticated.
                  code: ERR_AUTH_REQUIRED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ERR_AUTH_REQUIRED
                  data:
                    type: string
                    example: null
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Your merchant account is not active. Please complete verification.'
                  code: ERR_NO_PERMISSION
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Your merchant account is not active. Please complete verification.'
                  code:
                    type: string
                    example: ERR_NO_PERMISSION
                  data:
                    type: string
                    example: null
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation errors'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    name:
                      - 'The name field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation errors'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      name:
                        type: array
                        example:
                          - 'The name field is required.'
                        items:
                          type: string
      tags:
        - 'Self-Service API Keys'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'API key name.'
                  example: architecto
                  nullable: false
                expires_at:
                  type: string
                  description: 'API key expiration date. Must be a date in **ISO 8601** format.'
                  example: '2026-12-31'
                  nullable: true
                ip_addresses:
                  type: array
                  description: 'List of IP address objects that will be whitelisted for this API key.'
                  example:
                    - []
                  items:
                    type: object
                    nullable: true
                    properties:
                      address:
                        type: string
                        description: 'Valid IP address to Whitelist.'
                        example: 198.51.100.5
                        nullable: false
                      description:
                        type: string
                        description: 'IP address description.'
                        example: 'Eius et animi quos velit et.'
                        nullable: false
                    required:
                      - address
              required:
                - name
    get:
      summary: 'Get Own Merchant API Keys'
      operationId: getOwnMerchantAPIKeys
      description: "List API keys for the authenticated user's own merchant."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'API keys retrieved successfully'
                  code: ''
                  data:
                    merchant_id: 1
                    merchant_name: 'Example Merchant Inc'
                    api_keys:
                      -
                        id: 21
                        name: 'My Merchant API Key'
                        key_identifier: sl_20250411105714_TTwbAVtw
                        status: active
                        expires_at: '2025-12-31T00:00:00.000000Z'
                        last_used_at: null
                        created_at: '2025-04-11T10:57:15.000000Z'
                      -
                        id: 6
                        name: 'Admin-Generated Merchant API Key'
                        key_identifier: sl_20250407101253_ktmINIqG
                        status: revoked
                        expires_at: null
                        last_used_at: null
                        created_at: '2025-04-07T10:12:54.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'API keys retrieved successfully'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      merchant_id:
                        type: integer
                        example: 1
                      merchant_name:
                        type: string
                        example: 'Example Merchant Inc'
                      api_keys:
                        type: array
                        example:
                          -
                            id: 21
                            name: 'My Merchant API Key'
                            key_identifier: sl_20250411105714_TTwbAVtw
                            status: active
                            expires_at: '2025-12-31T00:00:00.000000Z'
                            last_used_at: null
                            created_at: '2025-04-11T10:57:15.000000Z'
                          -
                            id: 6
                            name: 'Admin-Generated Merchant API Key'
                            key_identifier: sl_20250407101253_ktmINIqG
                            status: revoked
                            expires_at: null
                            last_used_at: null
                            created_at: '2025-04-07T10:12:54.000000Z'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 21
                            name:
                              type: string
                              example: 'My Merchant API Key'
                            key_identifier:
                              type: string
                              example: sl_20250411105714_TTwbAVtw
                            status:
                              type: string
                              example: active
                            expires_at:
                              type: string
                              example: '2025-12-31T00:00:00.000000Z'
                            last_used_at:
                              type: string
                              example: null
                            created_at:
                              type: string
                              example: '2025-04-11T10:57:15.000000Z'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: Unauthenticated.
                  code: ERR_AUTH_REQUIRED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ERR_AUTH_REQUIRED
                  data:
                    type: string
                    example: null
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'You do not have permission to view API keys'
                  code: ERR_NO_PERMISSION
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'You do not have permission to view API keys'
                  code:
                    type: string
                    example: ERR_NO_PERMISSION
                  data:
                    type: string
                    example: null
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Merchant account not found'
                  code: ERR_NOT_FOUND
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Merchant account not found'
                  code:
                    type: string
                    example: ERR_NOT_FOUND
                  data:
                    type: string
                    example: null
      tags:
        - 'Self-Service API Keys'
  /api/my/partner/api-keys:
    post:
      summary: 'Generate Own partner API key'
      operationId: generateOwnPartnerAPIKey
      description: "Generate an API key for the authenticated user's own partner."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'API key generated successfully'
                  code: ''
                  data:
                    id: 22
                    name: 'Partner API Key'
                    api_key: sl_20250411112312_AcxkH1Ym.jXnYvPSrP6rZaAXDK8Dvg1EFDuXEh5dbG1FJmqn8FY9gvE3Z
                    expires_at: '2025-12-31T00:00:00.000000Z'
                    entity_type: partner
                    entity_id: 1
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'API key generated successfully'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 22
                      name:
                        type: string
                        example: 'Partner API Key'
                      api_key:
                        type: string
                        example: sl_20250411112312_AcxkH1Ym.jXnYvPSrP6rZaAXDK8Dvg1EFDuXEh5dbG1FJmqn8FY9gvE3Z
                      expires_at:
                        type: string
                        example: '2025-12-31T00:00:00.000000Z'
                      entity_type:
                        type: string
                        example: partner
                      entity_id:
                        type: integer
                        example: 1
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: Unauthenticated.
                  code: ERR_AUTH_REQUIRED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ERR_AUTH_REQUIRED
                  data:
                    type: string
                    example: null
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Your partner account is not active. Please complete verification.'
                  code: ERR_NO_PERMISSION
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Your partner account is not active. Please complete verification.'
                  code:
                    type: string
                    example: ERR_NO_PERMISSION
                  data:
                    type: string
                    example: null
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation errors'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    name:
                      - 'The name field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation errors'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      name:
                        type: array
                        example:
                          - 'The name field is required.'
                        items:
                          type: string
      tags:
        - 'Self-Service API Keys'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'API key name.'
                  example: architecto
                  nullable: false
                expires_at:
                  type: string
                  description: 'API key expiration date. Must be a date in **ISO 8601** format.'
                  example: '2026-12-31'
                  nullable: true
                ip_addresses:
                  type: array
                  description: 'List of IP address objects that will be whitelisted for this API key.'
                  example:
                    - []
                  items:
                    type: object
                    nullable: true
                    properties:
                      address:
                        type: string
                        description: 'Valid IP address to Whitelist.'
                        example: 198.51.100.5
                        nullable: false
                      description:
                        type: string
                        description: 'IP address description.'
                        example: 'Eius et animi quos velit et.'
                        nullable: false
                    required:
                      - address
              required:
                - name
    get:
      summary: 'Get Own Partner API Keys'
      operationId: getOwnPartnerAPIKeys
      description: "List API keys for the authenticated user's own partner."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'API keys retrieved successfully'
                  code: ''
                  data:
                    partner_id: 1
                    partner_name: 'Example Partner Corp'
                    api_keys:
                      -
                        id: 22
                        name: 'My Partner API Key'
                        key_identifier: sl_20250411112312_AcxkH1Ym
                        status: active
                        expires_at: '2025-12-31T00:00:00.000000Z'
                        last_used_at: null
                        created_at: '2025-04-11T11:23:12.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'API keys retrieved successfully'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      partner_id:
                        type: integer
                        example: 1
                      partner_name:
                        type: string
                        example: 'Example Partner Corp'
                      api_keys:
                        type: array
                        example:
                          -
                            id: 22
                            name: 'My Partner API Key'
                            key_identifier: sl_20250411112312_AcxkH1Ym
                            status: active
                            expires_at: '2025-12-31T00:00:00.000000Z'
                            last_used_at: null
                            created_at: '2025-04-11T11:23:12.000000Z'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 22
                            name:
                              type: string
                              example: 'My Partner API Key'
                            key_identifier:
                              type: string
                              example: sl_20250411112312_AcxkH1Ym
                            status:
                              type: string
                              example: active
                            expires_at:
                              type: string
                              example: '2025-12-31T00:00:00.000000Z'
                            last_used_at:
                              type: string
                              example: null
                            created_at:
                              type: string
                              example: '2025-04-11T11:23:12.000000Z'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: Unauthenticated.
                  code: ERR_AUTH_REQUIRED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ERR_AUTH_REQUIRED
                  data:
                    type: string
                    example: null
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'You do not have permission to view API keys'
                  code: ERR_NO_PERMISSION
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'You do not have permission to view API keys'
                  code:
                    type: string
                    example: ERR_NO_PERMISSION
                  data:
                    type: string
                    example: null
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Partner account not found'
                  code: ERR_NOT_FOUND
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Partner account not found'
                  code:
                    type: string
                    example: ERR_NOT_FOUND
                  data:
                    type: string
                    example: null
      tags:
        - 'Self-Service API Keys'
  '/api/merchants/{merchant_id}/api-keys':
    post:
      summary: 'Generate Merchant API key'
      operationId: generateMerchantAPIKey
      description: 'Generate an API key for a merchant.'
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'API key generated successfully'
                  code: ''
                  data:
                    id: 9
                    name: 'Merchant API Key'
                    api_key: sl_20250411103012_id1YCQGG.7kzTEl3fcql6DUFoNgNNiAUYExed2pwlD0kUSUDjSQPPOhJ1
                    expires_at: '2026-12-31T00:00:00.000000Z'
                    entity_type: merchant
                    entity_id: 1
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'API key generated successfully'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 9
                      name:
                        type: string
                        example: 'Merchant API Key'
                      api_key:
                        type: string
                        example: sl_20250411103012_id1YCQGG.7kzTEl3fcql6DUFoNgNNiAUYExed2pwlD0kUSUDjSQPPOhJ1
                      expires_at:
                        type: string
                        example: '2026-12-31T00:00:00.000000Z'
                      entity_type:
                        type: string
                        example: merchant
                      entity_id:
                        type: integer
                        example: 1
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: Unauthenticated.
                  code: ERR_AUTH_REQUIRED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ERR_AUTH_REQUIRED
                  data:
                    type: string
                    example: null
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation errors'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    name:
                      - 'The name field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation errors'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      name:
                        type: array
                        example:
                          - 'The name field is required.'
                        items:
                          type: string
      tags:
        - 'Admin API Key Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'API key name.'
                  example: architecto
                  nullable: false
                expires_at:
                  type: string
                  description: 'API key expiration date. Must be a date in **ISO 8601** format.'
                  example: '2026-12-31'
                  nullable: true
                ip_addresses:
                  type: array
                  description: 'List of IP address objects that will be whitelisted for this API key.'
                  example:
                    - []
                  items:
                    type: object
                    nullable: true
                    properties:
                      address:
                        type: string
                        description: 'Valid IP address to Whitelist.'
                        example: 198.51.100.5
                        nullable: false
                      description:
                        type: string
                        description: 'IP address description.'
                        example: 'Eius et animi quos velit et.'
                        nullable: false
                    required:
                      - address
              required:
                - name
    get:
      summary: 'Get Merchant API Keys'
      operationId: getMerchantAPIKeys
      description: 'List API keys for a merchant.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'List of API keys returned'
                  code: ''
                  data:
                    -
                      id: 21
                      name: 'My Merchant API Key'
                      key_identifier: sl_20250411105714_TTwbAVtw
                      status: active
                      expires_at: '2025-12-31T00:00:00.000000Z'
                      last_used_at: null
                      created_at: '2025-04-11T10:57:15.000000Z'
                    -
                      id: 6
                      name: 'Admin-Generated Merchant API Key'
                      key_identifier: sl_20250407101253_ktmINIqG
                      status: revoked
                      expires_at: null
                      last_used_at: null
                      created_at: '2025-04-07T10:12:54.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'List of API keys returned'
                  code:
                    type: string
                    example: ''
                  data:
                    type: array
                    example:
                      -
                        id: 21
                        name: 'My Merchant API Key'
                        key_identifier: sl_20250411105714_TTwbAVtw
                        status: active
                        expires_at: '2025-12-31T00:00:00.000000Z'
                        last_used_at: null
                        created_at: '2025-04-11T10:57:15.000000Z'
                      -
                        id: 6
                        name: 'Admin-Generated Merchant API Key'
                        key_identifier: sl_20250407101253_ktmINIqG
                        status: revoked
                        expires_at: null
                        last_used_at: null
                        created_at: '2025-04-07T10:12:54.000000Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 21
                        name:
                          type: string
                          example: 'My Merchant API Key'
                        key_identifier:
                          type: string
                          example: sl_20250411105714_TTwbAVtw
                        status:
                          type: string
                          example: active
                        expires_at:
                          type: string
                          example: '2025-12-31T00:00:00.000000Z'
                        last_used_at:
                          type: string
                          example: null
                        created_at:
                          type: string
                          example: '2025-04-11T10:57:15.000000Z'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: Unauthenticated.
                  code: ERR_AUTH_REQUIRED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ERR_AUTH_REQUIRED
                  data:
                    type: string
                    example: null
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Merchant account not found'
                  code: ERR_NOT_FOUND
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Merchant account not found'
                  code:
                    type: string
                    example: ERR_NOT_FOUND
                  data:
                    type: string
                    example: null
      tags:
        - 'Admin API Key Management'
    parameters:
      -
        in: path
        name: merchant_id
        description: 'The ID of the merchant.'
        example: 16
        required: true
        schema:
          type: integer
  '/api/partners/{partner_id}/api-keys':
    post:
      summary: 'Generate Partner API key'
      operationId: generatePartnerAPIKey
      description: 'Generate an API key for a partner.'
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'API key generated successfully'
                  code: ''
                  data:
                    id: 22
                    name: 'Partner API Key'
                    api_key: sl_20250411112312_AcxkH1Ym.jXnYvPSrP6rZaAXDK8Dvg1EFDuXEh5dbG1FJmqn8FY9gvE3Z
                    expires_at: '2025-12-31T00:00:00.000000Z'
                    entity_type: partner
                    entity_id: 1
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'API key generated successfully'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 22
                      name:
                        type: string
                        example: 'Partner API Key'
                      api_key:
                        type: string
                        example: sl_20250411112312_AcxkH1Ym.jXnYvPSrP6rZaAXDK8Dvg1EFDuXEh5dbG1FJmqn8FY9gvE3Z
                      expires_at:
                        type: string
                        example: '2025-12-31T00:00:00.000000Z'
                      entity_type:
                        type: string
                        example: partner
                      entity_id:
                        type: integer
                        example: 1
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: Unauthenticated.
                  code: ERR_AUTH_REQUIRED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ERR_AUTH_REQUIRED
                  data:
                    type: string
                    example: null
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation errors'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    name:
                      - 'The name field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation errors'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      name:
                        type: array
                        example:
                          - 'The name field is required.'
                        items:
                          type: string
      tags:
        - 'Admin API Key Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'API key name.'
                  example: architecto
                  nullable: false
                expires_at:
                  type: string
                  description: 'API key expiration date. Must be a date in **ISO 8601** format.'
                  example: '2026-12-31'
                  nullable: true
                ip_addresses:
                  type: array
                  description: 'List of IP address objects that will be whitelisted for this API key.'
                  example:
                    - []
                  items:
                    type: object
                    nullable: true
                    properties:
                      address:
                        type: string
                        description: 'Valid IP address to Whitelist.'
                        example: 198.51.100.5
                        nullable: false
                      description:
                        type: string
                        description: 'IP address description.'
                        example: 'Eius et animi quos velit et.'
                        nullable: false
                    required:
                      - address
              required:
                - name
    get:
      summary: 'Get Partner API Keys'
      operationId: getPartnerAPIKeys
      description: 'List API keys for a partner.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'List of API keys returned'
                  code: ''
                  data:
                    -
                      id: 22
                      name: 'My Partner API Key'
                      key_identifier: sl_20250411112312_AcxkH1Ym
                      status: active
                      expires_at: '2025-12-31T00:00:00.000000Z'
                      last_used_at: null
                      created_at: '2025-04-11T11:23:12.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'List of API keys returned'
                  code:
                    type: string
                    example: ''
                  data:
                    type: array
                    example:
                      -
                        id: 22
                        name: 'My Partner API Key'
                        key_identifier: sl_20250411112312_AcxkH1Ym
                        status: active
                        expires_at: '2025-12-31T00:00:00.000000Z'
                        last_used_at: null
                        created_at: '2025-04-11T11:23:12.000000Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 22
                        name:
                          type: string
                          example: 'My Partner API Key'
                        key_identifier:
                          type: string
                          example: sl_20250411112312_AcxkH1Ym
                        status:
                          type: string
                          example: active
                        expires_at:
                          type: string
                          example: '2025-12-31T00:00:00.000000Z'
                        last_used_at:
                          type: string
                          example: null
                        created_at:
                          type: string
                          example: '2025-04-11T11:23:12.000000Z'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: Unauthenticated.
                  code: ERR_AUTH_REQUIRED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ERR_AUTH_REQUIRED
                  data:
                    type: string
                    example: null
      tags:
        - 'Admin API Key Management'
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 16
        required: true
        schema:
          type: integer
  '/api/api-keys/{apiKey_id}':
    delete:
      summary: 'Revoke API Key'
      operationId: revokeAPIKey
      description: 'Revoke an API key.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'API key revoked successfully'
                  code: ''
                  data: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'API key revoked successfully'
                  code:
                    type: string
                    example: ''
                  data:
                    type: string
                    example: null
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: Unauthenticated.
                  code: ERR_AUTH_REQUIRED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ERR_AUTH_REQUIRED
                  data:
                    type: string
                    example: null
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'You do not have permission to revoke API keys'
                  code: ERR_NO_PERMISSION
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'You do not have permission to revoke API keys'
                  code:
                    type: string
                    example: ERR_NO_PERMISSION
                  data:
                    type: string
                    example: null
      tags:
        - 'Admin API Key Management'
    parameters:
      -
        in: path
        name: apiKey_id
        description: 'The ID of the apiKey.'
        example: 16
        required: true
        schema:
          type: integer
  /api/ip-whitelist:
    post:
      summary: 'Add Whitelist IP'
      operationId: addWhitelistIP
      description: 'Add an IP address to the whitelist.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'IP whitelisted successfully'
                  code: ''
                  data:
                    ip_whitelist:
                      ip_address: 203.0.113.1
                      description: 'Corporate Office'
                      status: active
                      expires_at: '2025-12-31T00:00:00.000000Z'
                      merchant_id: 1
                      updated_at: '2025-04-14T07:39:51.000000Z'
                      created_at: '2025-04-14T07:39:51.000000Z'
                      id: 15
                      merchant:
                        id: 1
                        name: 'Example Merchant Inc'
                        mcc: '5499'
                        status: active
                        address: 'test address'
                        city: null
                        country_code: RS
                        email: null
                        phone: null
                        website: ''
                        created_by: 1
                        created_at: '2025-03-21T08:49:47.000000Z'
                        updated_at: '2025-03-27T09:42:26.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'IP whitelisted successfully'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      ip_whitelist:
                        type: object
                        properties:
                          ip_address:
                            type: string
                            example: 203.0.113.1
                          description:
                            type: string
                            example: 'Corporate Office'
                          status:
                            type: string
                            example: active
                          expires_at:
                            type: string
                            example: '2025-12-31T00:00:00.000000Z'
                          merchant_id:
                            type: integer
                            example: 1
                          updated_at:
                            type: string
                            example: '2025-04-14T07:39:51.000000Z'
                          created_at:
                            type: string
                            example: '2025-04-14T07:39:51.000000Z'
                          id:
                            type: integer
                            example: 15
                          merchant:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 1
                              name:
                                type: string
                                example: 'Example Merchant Inc'
                              mcc:
                                type: string
                                example: '5499'
                              status:
                                type: string
                                example: active
                              address:
                                type: string
                                example: 'test address'
                              city:
                                type: string
                                example: null
                              country_code:
                                type: string
                                example: RS
                              email:
                                type: string
                                example: null
                              phone:
                                type: string
                                example: null
                              website:
                                type: string
                                example: ''
                              created_by:
                                type: integer
                                example: 1
                              created_at:
                                type: string
                                example: '2025-03-21T08:49:47.000000Z'
                              updated_at:
                                type: string
                                example: '2025-03-27T09:42:26.000000Z'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: Unauthenticated.
                  code: ERR_AUTH_REQUIRED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ERR_AUTH_REQUIRED
                  data:
                    type: string
                    example: null
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'You do not have permission to add IP addresses'
                  code: ERR_NO_PERMISSION
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'You do not have permission to add IP addresses'
                  code:
                    type: string
                    example: ERR_NO_PERMISSION
                  data:
                    type: string
                    example: null
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Entity not found'
                  code: ERR_NOT_FOUND
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Entity not found'
                  code:
                    type: string
                    example: ERR_NOT_FOUND
                  data:
                    type: string
                    example: null
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation errors'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    entity_id:
                      - 'The entity id field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation errors'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      entity_id:
                        type: array
                        example:
                          - 'The entity id field is required.'
                        items:
                          type: string
      tags:
        - 'IP Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ip_address:
                  type: string
                  description: 'Valid IP address to Whitelist.'
                  example: 198.51.100.5
                  nullable: false
                description:
                  type: string
                  description: 'IP address description.'
                  example: 'Eius et animi quos velit et.'
                  nullable: true
                entity_type:
                  type: string
                  description: 'Entity type.'
                  example: api_key
                  nullable: false
                  enum:
                    - merchant
                    - partner
                    - api_key
                entity_id:
                  type: integer
                  description: 'Entity ID.'
                  example: 16
                  nullable: false
                expires_at:
                  type: string
                  description: 'IP address whitelist expiration. Must be a date in **ISO 8601** format.'
                  example: '2026-12-31'
                  nullable: true
              required:
                - ip_address
                - entity_type
                - entity_id
    get:
      summary: 'Get Whitelist IP'
      operationId: getWhitelistIP
      description: 'List IP addresses in the whitelist for an entity'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'List of IP addresses returned'
                  code: ''
                  data:
                    ip_whitelist:
                      -
                        id: 13
                        ip_address: 192.168.1.12
                        description: 'Office IP Address'
                        status: active
                        expires_at: '2025-12-31T00:00:00.000000Z'
                        created_at: '2025-04-11T10:57:15.000000Z'
                      -
                        id: 3
                        ip_address: 203.0.113.11
                        description: 'Corporate Office'
                        status: inactive
                        expires_at: '2025-12-31T00:00:00.000000Z'
                        created_at: '2025-04-07T12:11:08.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'List of IP addresses returned'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      ip_whitelist:
                        type: array
                        example:
                          -
                            id: 13
                            ip_address: 192.168.1.12
                            description: 'Office IP Address'
                            status: active
                            expires_at: '2025-12-31T00:00:00.000000Z'
                            created_at: '2025-04-11T10:57:15.000000Z'
                          -
                            id: 3
                            ip_address: 203.0.113.11
                            description: 'Corporate Office'
                            status: inactive
                            expires_at: '2025-12-31T00:00:00.000000Z'
                            created_at: '2025-04-07T12:11:08.000000Z'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 13
                            ip_address:
                              type: string
                              example: 192.168.1.12
                            description:
                              type: string
                              example: 'Office IP Address'
                            status:
                              type: string
                              example: active
                            expires_at:
                              type: string
                              example: '2025-12-31T00:00:00.000000Z'
                            created_at:
                              type: string
                              example: '2025-04-11T10:57:15.000000Z'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: Unauthenticated.
                  code: ERR_AUTH_REQUIRED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ERR_AUTH_REQUIRED
                  data:
                    type: string
                    example: null
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'You do not have permission to view IP addresses'
                  code: ERR_NO_PERMISSION
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'You do not have permission to view IP addresses'
                  code:
                    type: string
                    example: ERR_NO_PERMISSION
                  data:
                    type: string
                    example: null
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Entity not found'
                  code: ERR_NOT_FOUND
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Entity not found'
                  code:
                    type: string
                    example: ERR_NOT_FOUND
                  data:
                    type: string
                    example: null
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation errors'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    entity_id:
                      - 'The entity id field is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation errors'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      entity_id:
                        type: array
                        example:
                          - 'The entity id field is required.'
                        items:
                          type: string
      tags:
        - 'IP Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entity_type:
                  type: string
                  description: 'Entity type.'
                  example: partner
                  nullable: false
                  enum:
                    - merchant
                    - partner
                    - api_key
                entity_id:
                  type: integer
                  description: 'Entity ID.'
                  example: 16
                  nullable: false
              required:
                - entity_type
                - entity_id
  '/api/ip-whitelist/{ipWhitelist_id}':
    delete:
      summary: 'Remove Whitelist IP'
      operationId: removeWhitelistIP
      description: 'Remove an IP address from the whitelist'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'IP address removed from whitelist'
                  code: ''
                  data: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'IP address removed from whitelist'
                  code:
                    type: string
                    example: ''
                  data:
                    type: string
                    example: null
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: Unauthenticated.
                  code: ERR_AUTH_REQUIRED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ERR_AUTH_REQUIRED
                  data:
                    type: string
                    example: null
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'You do not have permission to remove IP addresses'
                  code: ERR_NO_PERMISSION
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'You do not have permission to remove IP addresses'
                  code:
                    type: string
                    example: ERR_NO_PERMISSION
                  data:
                    type: string
                    example: null
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Entity not found'
                  code: ERR_NOT_FOUND
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Entity not found'
                  code:
                    type: string
                    example: ERR_NOT_FOUND
                  data:
                    type: string
                    example: null
      tags:
        - 'IP Management'
    parameters:
      -
        in: path
        name: ipWhitelist_id
        description: 'The ID of the ipWhitelist.'
        example: 16
        required: true
        schema:
          type: integer
  /api/v1/3ds/verify:
    post:
      summary: 'Initiate Card Verification'
      operationId: initiateCardVerification
      description: 'Initiate a 3D Secure card verification process.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: '3DS authentication completed (frictionless)'
                  code: ''
                  data:
                    id: 166
                    amount: 12
                    currency: EUR
                    version: null
                    eci: '05'
                    cavv: AAABA0UREQAAAAAAAAAAAAAAAAA=
                    xid: null
                    ds_trans_id: 6b66be83-f692-405c-9079-92f7182af5e5
                    status: full_auth
                    auth_type: frictionless
                    challenge_url: 'https://softlemon.com/api/3ds/callback'
                    post_url: null
                    html: null
                    created_at: '2025-06-12 09:47:15'
                    updated_at: '2025-06-12 09:47:15'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '3DS authentication completed (frictionless)'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 166
                      amount:
                        type: integer
                        example: 12
                      currency:
                        type: string
                        example: EUR
                      version:
                        type: string
                        example: null
                      eci:
                        type: string
                        example: '05'
                      cavv:
                        type: string
                        example: AAABA0UREQAAAAAAAAAAAAAAAAA=
                      xid:
                        type: string
                        example: null
                      ds_trans_id:
                        type: string
                        example: 6b66be83-f692-405c-9079-92f7182af5e5
                      status:
                        type: string
                        example: full_auth
                      auth_type:
                        type: string
                        example: frictionless
                      challenge_url:
                        type: string
                        example: 'https://softlemon.com/api/3ds/callback'
                      post_url:
                        type: string
                        example: null
                      html:
                        type: string
                        example: null
                      created_at:
                        type: string
                        example: '2025-06-12 09:47:15'
                      updated_at:
                        type: string
                        example: '2025-06-12 09:47:15'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Authentication failed'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Authentication failed'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation errors'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    amount:
                      - 'The amount is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation errors'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      amount:
                        type: array
                        example:
                          - 'The amount is required.'
                        items:
                          type: string
      tags:
        - 'Card Verification'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: 'Transaction amount.'
                  example: 12.5
                  nullable: false
                currency:
                  type: string
                  description: 'Transaction currency.'
                  example: GBP
                  nullable: false
                card:
                  type: object
                  description: 'Card details object.'
                  example: []
                  nullable: false
                  properties:
                    name:
                      type: string
                      description: 'Cardholder name.'
                      example: 'John Doe'
                      nullable: false
                    number:
                      type: string
                      description: 'Card number.'
                      example: '4111111111111111'
                      nullable: false
                    exp_month:
                      type: string
                      description: 'Card expire month.'
                      example: '12'
                      nullable: false
                    exp_year:
                      type: string
                      description: 'Card expire year.'
                      example: '29'
                      nullable: false
                    cvv:
                      type: string
                      description: 'Must be at least 3 characters. Must not be greater than 4 characters.'
                      example: iyvd
                      nullable: true
                  required:
                    - name
                    - number
                    - exp_month
                    - exp_year
                auth_url:
                  type: string
                  description: 'Authorization callback url.'
                  example: 'http://www.bailey.biz/quos-velit-et-fugiat-sunt-nihil-accusantium-harum.html'
                  nullable: false
              required:
                - amount
                - currency
                - card
                - auth_url
  /api/v1/transactions:
    post:
      summary: 'Initiate Transaction'
      operationId: initiateTransaction
      description: 'Initiate a new transaction (sale or auth).'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Transaction initiated'
                  code: ''
                  data:
                    id: 2
                    related_trans_id: null
                    merchant_id: 1
                    cardholder_id: 2
                    amount: 1250
                    currency: EUR
                    status: auth
                    transaction_type: auth
                    merchant_trans_id: ORDER-912346
                    acquirer_trans_id: '514009741995'
                    acquirer_auth_code: '400066'
                    acquirer_ref_num: '741995'
                    ip_address: 172.19.0.7
                    updated_at: '2025-05-20T09:18:48.000000Z'
                    created_at: '2025-05-20T09:18:47.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Transaction initiated'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2
                      related_trans_id:
                        type: string
                        example: null
                      merchant_id:
                        type: integer
                        example: 1
                      cardholder_id:
                        type: integer
                        example: 2
                      amount:
                        type: integer
                        example: 1250
                      currency:
                        type: string
                        example: EUR
                      status:
                        type: string
                        example: auth
                      transaction_type:
                        type: string
                        example: auth
                      merchant_trans_id:
                        type: string
                        example: ORDER-912346
                      acquirer_trans_id:
                        type: string
                        example: '514009741995'
                      acquirer_auth_code:
                        type: string
                        example: '400066'
                      acquirer_ref_num:
                        type: string
                        example: '741995'
                      ip_address:
                        type: string
                        example: 172.19.0.7
                      updated_at:
                        type: string
                        example: '2025-05-20T09:18:48.000000Z'
                      created_at:
                        type: string
                        example: '2025-05-20T09:18:47.000000Z'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Authentication failed'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Authentication failed'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation errors'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    amount:
                      - 'The transaction amount must be a number.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation errors'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      amount:
                        type: array
                        example:
                          - 'The transaction amount must be a number.'
                        items:
                          type: string
      tags:
        - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: 'Transaction amount.'
                  example: 12.5
                  nullable: false
                currency:
                  type: string
                  description: 'Transaction currency.'
                  example: GBP
                  nullable: false
                transaction_type:
                  type: required
                  description: 'Transaction type.'
                  example: sale
                  nullable: false
                  enum:
                    - sale
                    - auth
                card:
                  type: object
                  description: 'Card details object.'
                  example: []
                  nullable: false
                  properties:
                    number:
                      type: string
                      description: 'Card number.'
                      example: '4111111111111111'
                      nullable: false
                    exp_month:
                      type: string
                      description: 'Card expire month.'
                      example: '12'
                      nullable: false
                    exp_year:
                      type: string
                      description: 'Card expire year.'
                      example: '29'
                      nullable: false
                    cvv:
                      type: string
                      description: 'Card CVV number.'
                      example: '111'
                      nullable: false
                    name:
                      type: string
                      description: 'Cardholder name.'
                      example: 'John Doe'
                      nullable: true
                  required:
                    - number
                    - exp_month
                    - exp_year
[...]
