openapi: 3.0.3
info:
  title: 'Softlemon Merchant API'
  description: 'Production-ready merchant integration endpoints for admin-provisioned API keys.'
  version: 0.9.0
servers:
  -
    url: 'https://api.sandbox.softlemons.com'
tags:
  -
    name: Transactions
    description: ''
  -
    name: 'Card Verification'
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Use the API key provisioned by your SoftLemon admin team. Self-service onboarding and API key generation are not currently available.'
security:
  -
    default: []
paths:
  /api/v1/transactions:
    post:
      summary: 'Initiate Transaction'
      operationId: initiateTransaction
      description: "Initiate a new transaction (sale or auth).\n\nMerchant API keys can call this endpoint for their own account.\nPartner API keys can also call this endpoint, but they must include `merchant_id`\nfor a merchant linked to that partner.\nCapture, refund, and void operations remain merchant-only."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Transaction initiated'
                  code: ''
                  data:
                    id: 2
                    related_trans_id: null
                    merchant_id: 1
                    cardholder_id: 2
                    amount: 1250
                    currency: EUR
                    status: auth
                    transaction_type: auth
                    merchant_trans_id: ORDER-912346
                    acquirer_trans_id: '514009741995'
                    acquirer_auth_code: '400066'
                    acquirer_ref_num: '741995'
                    ip_address: 172.19.0.7
                    updated_at: '2025-05-20T09:18:48.000000Z'
                    created_at: '2025-05-20T09:18:47.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Transaction initiated'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2
                      related_trans_id:
                        type: string
                        example: null
                      merchant_id:
                        type: integer
                        example: 1
                      cardholder_id:
                        type: integer
                        example: 2
                      amount:
                        type: integer
                        example: 1250
                      currency:
                        type: string
                        example: EUR
                      status:
                        type: string
                        example: auth
                      transaction_type:
                        type: string
                        example: auth
                      merchant_trans_id:
                        type: string
                        example: ORDER-912346
                      acquirer_trans_id:
                        type: string
                        example: '514009741995'
                      acquirer_auth_code:
                        type: string
                        example: '400066'
                      acquirer_ref_num:
                        type: string
                        example: '741995'
                      ip_address:
                        type: string
                        example: 172.19.0.7
                      updated_at:
                        type: string
                        example: '2025-05-20T09:18:48.000000Z'
                      created_at:
                        type: string
                        example: '2025-05-20T09:18:47.000000Z'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Authentication failed'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Authentication failed'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation errors'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    amount:
                      - 'The transaction amount must be a number.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation errors'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      amount:
                        type: array
                        example:
                          - 'The transaction amount must be a number.'
                        items:
                          type: string
      tags:
        - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: 'Transaction amount.'
                  example: 12.5
                currency:
                  type: string
                  description: 'Transaction currency.'
                  example: GBP
                transaction_type:
                  type: required
                  description: 'Transaction type.'
                  example: sale
                  enum:
                    - sale
                    - auth
                vault_token:
                  type: string
                  description: 'The <code>tokenized_id</code> of an existing record in the payment_instruments table.'
                  example: architecto
                  nullable: true
                card:
                  type: object
                  description: 'Card details object.'
                  example: []
                  properties:
                    number:
                      type: string
                      description: 'Card number.'
                      example: '4111111111111111'
                    exp_month:
                      type: string
                      description: 'Card expire month.'
                      example: '12'
                    exp_year:
                      type: string
                      description: 'Card expire year.'
                      example: '29'
                    cvv:
                      type: string
                      description: 'Card CVV number.'
                      example: '111'
                    name:
                      type: string
                      description: 'Cardholder name.'
                      example: 'John Doe'
                      nullable: true
                  required:
                    - number
                    - exp_month
                    - exp_year
                    - cvv
                reference:
                  type: string
                  description: 'Merchant reference for this transaction.'
                  example: order-10001
                  nullable: true
                merchant_id:
                  type: integer
                  description: 'Required for partner API keys. Omit for merchant API keys.'
                  example: 123
                  nullable: true
                success_url:
                  type: string
                  description: ''
                  example: 'http://www.bailey.biz/quos-velit-et-fugiat-sunt-nihil-accusantium-harum.html'
                  nullable: true
                error_url:
                  type: string
                  description: ''
                  example: 'http://www.bailey.biz/quos-velit-et-fugiat-sunt-nihil-accusantium-harum.html'
                  nullable: true
                customer:
                  type: object
                  description: 'Customer details object.'
                  example: []
                  properties:
                    merchant_customer_id:
                      type: string
                      description: "Merchant's ID of the customer."
                      example: architecto
                    first_name:
                      type: string
                      description: "Customer's first name."
                      example: architecto
                    last_name:
                      type: string
                      description: "Customer's last name."
                      example: architecto
                    email:
                      type: string
                      description: "Customer's email address."
                      example: gbailey@example.net
                    phone:
                      type: string
                      description: "Customer's phone number."
                      example: architecto
                      nullable: true
                    address:
                      type: string
                      description: "Customer's address."
                      example: architecto
                      nullable: true
                    city:
                      type: string
                      description: "Customer's city."
                      example: architecto
                      nullable: true
                    postal_code:
                      type: string
                      description: "Customer's postal code."
                      example: architecto
                      nullable: true
                    country_code:
                      type: string
                      description: "Customer's country code."
                      example: GB
                      nullable: true
                    ip_address:
                      type: string
                      description: "Customer's IP address."
                      example: 198.51.100.5
                      nullable: true
                  required:
                    - merchant_customer_id
                    - first_name
                    - last_name
                    - email
                  nullable: true
                card_verification_data:
                  type: object
                  description: '3DS verification data object.'
                  example: []
                  properties:
                    id:
                      type: integer
                      description: 'ID of existing 3DS verification.'
                      example: 16
                      nullable: true
                    status:
                      type: string
                      description: '3DS verification status.'
                      example: full_auth
                      nullable: true
                    cavv:
                      type: string
                      description: 'CAVV response code.'
                      example: jI3JBkkaQ1p8CBAAABy0CHUAAAA=
                      nullable: true
                    xid:
                      type: string
                      description: XID.
                      example: A1B2C3D4E5F6G7H8I9J0
                      nullable: true
                    ds_trans_id:
                      type: string
                      description: '3DS transaction id.'
                      example: 8e187327-492c-446b-9b45-62debe6456c5
                      nullable: true
                    three_ds_version:
                      type: string
                      description: '3DS version number.'
                      example: '2.1'
                      nullable: true
                    eci:
                      type: string
                      description: 'Electronic Commerce Indicator.'
                      example: '05'
                      nullable: true
                  required:
                    - status
                    - cavv
                    - ds_trans_id
                  nullable: true
              required:
                - amount
                - currency
                - card
  '/api/v1/transactions/{transaction_id}/capture':
    post:
      summary: 'Capture Transaction'
      operationId: captureTransaction
      description: "Capture a previously authorized transaction.\n\nThis endpoint is intended for merchant API keys managing their own transactions.\nDo not expose this as a partner-facing operation in external integrations."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Transaction captured'
                  code: ''
                  data:
                    id: 3
                    related_trans_id: 2
                    merchant_id: 1
                    cardholder_id: 2
                    amount: 1250
                    currency: EUR
                    status: captured
                    transaction_type: capture
                    merchant_trans_id: ORDER-912346
                    acquirer_trans_id: '995140741995'
                    acquirer_auth_code: '400066'
                    acquirer_ref_num: '741995'
                    ip_address: 172.19.0.7
                    updated_at: '2025-05-20T09:18:48.000000Z'
                    created_at: '2025-05-20T09:18:47.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Transaction captured'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3
                      related_trans_id:
                        type: integer
                        example: 2
                      merchant_id:
                        type: integer
                        example: 1
                      cardholder_id:
                        type: integer
                        example: 2
                      amount:
                        type: integer
                        example: 1250
                      currency:
                        type: string
                        example: EUR
                      status:
                        type: string
                        example: captured
                      transaction_type:
                        type: string
                        example: capture
                      merchant_trans_id:
                        type: string
                        example: ORDER-912346
                      acquirer_trans_id:
                        type: string
                        example: '995140741995'
                      acquirer_auth_code:
                        type: string
                        example: '400066'
                      acquirer_ref_num:
                        type: string
                        example: '741995'
                      ip_address:
                        type: string
                        example: 172.19.0.7
                      updated_at:
                        type: string
                        example: '2025-05-20T09:18:48.000000Z'
                      created_at:
                        type: string
                        example: '2025-05-20T09:18:47.000000Z'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Authentication failed'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Authentication failed'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation errors'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    amount:
                      - 'The capture amount must be a number.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation errors'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      amount:
                        type: array
                        example:
                          - 'The capture amount must be a number.'
                        items:
                          type: string
      tags:
        - Transactions
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: 'Transaction amount.'
                  example: 12.5
                  nullable: true
    parameters:
      -
        in: path
        name: transaction_id
        description: 'The ID of the transaction.'
        example: 16
        required: true
        schema:
          type: integer
  '/api/v1/transactions/{transaction_id}/refund':
    post:
      summary: 'Refund Transaction'
      operationId: refundTransaction
      description: "Refund a previously captured transaction.\n\nThis endpoint is intended for merchant API keys managing their own transactions.\nDo not expose this as a partner-facing operation in external integrations."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Transaction refunded'
                  code: ''
                  data:
                    id: 4
                    related_trans_id: 3
                    merchant_id: 1
                    cardholder_id: 2
                    amount: 1250
                    currency: EUR
                    status: refunded
                    transaction_type: refund
                    merchant_trans_id: ORDER-912346
                    acquirer_trans_id: '514009741995'
                    acquirer_auth_code: '400066'
                    acquirer_ref_num: '741995'
                    ip_address: 172.19.0.7
                    updated_at: '2025-05-20T09:18:48.000000Z'
                    created_at: '2025-05-20T09:18:47.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Transaction refunded'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 4
                      related_trans_id:
                        type: integer
                        example: 3
                      merchant_id:
                        type: integer
                        example: 1
                      cardholder_id:
                        type: integer
                        example: 2
                      amount:
                        type: integer
                        example: 1250
                      currency:
                        type: string
                        example: EUR
                      status:
                        type: string
                        example: refunded
                      transaction_type:
                        type: string
                        example: refund
                      merchant_trans_id:
                        type: string
                        example: ORDER-912346
                      acquirer_trans_id:
                        type: string
                        example: '514009741995'
                      acquirer_auth_code:
                        type: string
                        example: '400066'
                      acquirer_ref_num:
                        type: string
                        example: '741995'
                      ip_address:
                        type: string
                        example: 172.19.0.7
                      updated_at:
                        type: string
                        example: '2025-05-20T09:18:48.000000Z'
                      created_at:
                        type: string
                        example: '2025-05-20T09:18:47.000000Z'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Authentication failed'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Authentication failed'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation errors'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    amount:
                      - 'The refund amount must be a number.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation errors'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      amount:
                        type: array
                        example:
                          - 'The refund amount must be a number.'
                        items:
                          type: string
      tags:
        - Transactions
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: 'Transaction amount.'
                  example: 12.5
                  nullable: true
                reason:
                  type: string
                  description: 'Reason for refund.'
                  example: architecto
                  nullable: true
    parameters:
      -
        in: path
        name: transaction_id
        description: 'The ID of the transaction.'
        example: 16
        required: true
        schema:
          type: integer
  '/api/v1/transactions/{transaction_id}/status':
    get:
      summary: 'Transaction Status'
      operationId: transactionStatus
      description: "Get the status of a transaction.\n\nMerchant API keys can check their own transactions.\nPartner API keys can check transactions belonging to linked merchants they are allowed to access.\nCapture, refund, and void operations remain merchant-only even when a partner can read status."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Transaction status'
                  code: ''
                  data:
                    id: 2
                    related_trans_id: null
                    merchant_id: 1
                    cardholder_id: 2
                    amount: 1250
                    currency: EUR
                    status: auth
                    transaction_type: auth
                    merchant_trans_id: ORDER-912346
                    acquirer_trans_id: '514009741995'
                    acquirer_auth_code: '400066'
                    acquirer_ref_num: '741995'
                    ip_address: 172.19.0.7
                    updated_at: '2025-05-20T09:18:48.000000Z'
                    created_at: '2025-05-20T09:18:47.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Transaction status'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2
                      related_trans_id:
                        type: string
                        example: null
                      merchant_id:
                        type: integer
                        example: 1
                      cardholder_id:
                        type: integer
                        example: 2
                      amount:
                        type: integer
                        example: 1250
                      currency:
                        type: string
                        example: EUR
                      status:
                        type: string
                        example: auth
                      transaction_type:
                        type: string
                        example: auth
                      merchant_trans_id:
                        type: string
                        example: ORDER-912346
                      acquirer_trans_id:
                        type: string
                        example: '514009741995'
                      acquirer_auth_code:
                        type: string
                        example: '400066'
                      acquirer_ref_num:
                        type: string
                        example: '741995'
                      ip_address:
                        type: string
                        example: 172.19.0.7
                      updated_at:
                        type: string
                        example: '2025-05-20T09:18:48.000000Z'
                      created_at:
                        type: string
                        example: '2025-05-20T09:18:47.000000Z'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Authentication failed'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Authentication failed'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
      tags:
        - Transactions
    parameters:
      -
        in: path
        name: transaction_id
        description: 'The ID of the transaction.'
        example: 16
        required: true
        schema:
          type: integer
  '/api/v1/transactions/{transaction_id}/void':
    post:
      summary: 'Void Transaction'
      operationId: voidTransaction
      description: "Void a previously initiated auth transaction.\n\nThis endpoint is intended for merchant API keys managing their own transactions.\nDo not expose this as a partner-facing operation in external integrations."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Transaction voided'
                  code: ''
                  data:
                    id: 4
                    related_trans_id: 3
                    merchant_id: 1
                    cardholder_id: 2
                    amount: 1250
                    currency: EUR
                    status: voided
                    transaction_type: void
                    merchant_trans_id: ORDER-912346
                    acquirer_trans_id: '514009741995'
                    acquirer_auth_code: '400066'
                    acquirer_ref_num: '741995'
                    ip_address: 172.19.0.7
                    updated_at: '2025-05-20T09:18:48.000000Z'
                    created_at: '2025-05-20T09:18:47.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Transaction voided'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 4
                      related_trans_id:
                        type: integer
                        example: 3
                      merchant_id:
                        type: integer
                        example: 1
                      cardholder_id:
                        type: integer
                        example: 2
                      amount:
                        type: integer
                        example: 1250
                      currency:
                        type: string
                        example: EUR
                      status:
                        type: string
                        example: voided
                      transaction_type:
                        type: string
                        example: void
                      merchant_trans_id:
                        type: string
                        example: ORDER-912346
                      acquirer_trans_id:
                        type: string
                        example: '514009741995'
                      acquirer_auth_code:
                        type: string
                        example: '400066'
                      acquirer_ref_num:
                        type: string
                        example: '741995'
                      ip_address:
                        type: string
                        example: 172.19.0.7
                      updated_at:
                        type: string
                        example: '2025-05-20T09:18:48.000000Z'
                      created_at:
                        type: string
                        example: '2025-05-20T09:18:47.000000Z'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Authentication failed'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Authentication failed'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation errors'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    amount:
                      - 'The void amount must be a number.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation errors'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      amount:
                        type: array
                        example:
                          - 'The void amount must be a number.'
                        items:
                          type: string
      tags:
        - Transactions
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: 'Transaction amount.'
                  example: 12.5
                  nullable: true
                reason:
                  type: string
                  description: 'Reason for refund.'
                  example: architecto
                  nullable: true
    parameters:
      -
        in: path
        name: transaction_id
        description: 'The ID of the transaction.'
        example: 16
        required: true
        schema:
          type: integer
  /api/v1/3ds/verify:
    post:
      summary: 'Initiate Card Verification'
      operationId: initiateCardVerification
      description: "Initiate a 3D Secure card verification process.\n\nThis endpoint is intended for merchant API keys before a payment request.\nDo not expose this as a partner-facing operation in external integrations."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: '3DS authentication completed (frictionless)'
                  code: ''
                  data:
                    id: 166
                    amount: 12
                    currency: EUR
                    version: null
                    eci: '05'
                    cavv: AAABA0UREQAAAAAAAAAAAAAAAAA=
                    xid: null
                    ds_trans_id: 6b66be83-f692-405c-9079-92f7182af5e5
                    status: full_auth
                    auth_type: frictionless
                    challenge_url: 'https://softlemon.com/api/3ds/callback'
                    post_url: null
                    html: null
                    created_at: '2025-06-12 09:47:15'
                    updated_at: '2025-06-12 09:47:15'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '3DS authentication completed (frictionless)'
                  code:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 166
                      amount:
                        type: integer
                        example: 12
                      currency:
                        type: string
                        example: EUR
                      version:
                        type: string
                        example: null
                      eci:
                        type: string
                        example: '05'
                      cavv:
                        type: string
                        example: AAABA0UREQAAAAAAAAAAAAAAAAA=
                      xid:
                        type: string
                        example: null
                      ds_trans_id:
                        type: string
                        example: 6b66be83-f692-405c-9079-92f7182af5e5
                      status:
                        type: string
                        example: full_auth
                      auth_type:
                        type: string
                        example: frictionless
                      challenge_url:
                        type: string
                        example: 'https://softlemon.com/api/3ds/callback'
                      post_url:
                        type: string
                        example: null
                      html:
                        type: string
                        example: null
                      created_at:
                        type: string
                        example: '2025-06-12 09:47:15'
                      updated_at:
                        type: string
                        example: '2025-06-12 09:47:15'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Authentication failed'
                  code: ERR_AUTH_FAILED
                  data: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Authentication failed'
                  code:
                    type: string
                    example: ERR_AUTH_FAILED
                  data:
                    type: string
                    example: null
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Validation errors'
                  code: ERR_VALIDATION_FAILED
                  data: null
                  errors:
                    amount:
                      - 'The amount is required.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Validation errors'
                  code:
                    type: string
                    example: ERR_VALIDATION_FAILED
                  data:
                    type: string
                    example: null
                  errors:
                    type: object
                    properties:
                      amount:
                        type: array
                        example:
                          - 'The amount is required.'
                        items:
                          type: string
      tags:
        - 'Card Verification'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: 'Transaction amount.'
                  example: 12.5
                currency:
                  type: string
                  description: 'Transaction currency.'
                  example: GBP
                card:
                  type: object
                  description: 'Card details object.'
                  example: []
                  properties:
                    name:
                      type: string
                      description: 'Cardholder name.'
                      example: 'John Doe'
                    number:
                      type: string
                      description: 'Card number.'
                      example: '4111111111111111'
                    exp_month:
                      type: string
                      description: 'Card expire month.'
                      example: '12'
                    exp_year:
                      type: string
                      description: 'Card expire year.'
                      example: '29'
                    cvv:
                      type: string
                      description: 'Must be at least 3 characters. Must not be greater than 4 characters.'
                      example: iyvd
                      nullable: true
                  required:
                    - name
                    - number
                    - exp_month
                    - exp_year
                auth_url:
                  type: string
                  description: 'Authorization callback url.'
                  example: 'http://www.bailey.biz/quos-velit-et-fugiat-sunt-nihil-accusantium-harum.html'
              required:
                - amount
                - currency
                - card
                - auth_url
